@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,400italic,600");
@import url("font-awesome.min.css");

/*
	Helios by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
*/

/* Reset */

	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
        font: arial, helvetica;
		vertical-align: baseline;
	}

	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block;
	}

	body {
		line-height: 1;
	}

	ol, ul {
		list-style: none;
	}

	blockquote, q {
		quotes: none;
	}

	blockquote:before, blockquote:after, q:before, q:after {
		content: '';
		content: none;
	}

	table {
		border-collapse: collapse;
		border-spacing: 0;
	}

	body {
		-webkit-text-size-adjust: none;
	}

/* Box Model */

	*, *:before, *:after {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

/* Containers */

	.container {
		margin-left: auto;
		margin-right: auto;
	}

	.container.\31 25\25 {
		width: 100%;
		max-width: 1750px;
		min-width: 1400px;
	}

	.container.\37 5\25 {
		width: 1050px;
	}

	.container.\35 0\25 {
		width: 700px;
	}

	.container.\32 5\25 {
		width: 350px;
	}

	.container {
		width: 1400px;
	}
	a{
        text-decoration: none;
        color: #fff
    }
    a:focus{
        text-decoration: none;
        color: #fff
    }
	a:hover {
	    text-decoration: none;
        color: #ef8376;
	}

	@media screen and (max-width: 1680px) {

		.container.\31 25\25 {
			width: 100%;
			max-width: 1500px;
			min-width: 1200px;
		}

		.container.\37 5\25 {
			width: 900px;
		}

		.container.\35 0\25 {
			width: 600px;
		}

		.container.\32 5\25 {
			width: 300px;
		}

		.container {
			width: 1200px;
		}

	}

	@media screen and (max-width: 1280px) {

		.container.\31 25\25 {
			width: 100%;
			max-width: 125%;
			min-width: 100%;
		}

		.container.\37 5\25 {
			width: 75%;
		}

		.container.\35 0\25 {
			width: 50%;
		}

		.container.\32 5\25 {
			width: 25%;
		}

		.container {
			width: 100%;
		}

	}

	@media screen and (max-width: 960px) {

		.container.\31 25\25 {
			width: 100%;
			max-width: 125%;
			min-width: 100%;
		}

		.container.\37 5\25 {
			width: 75%;
		}

		.container.\35 0\25 {
			width: 50%;
		}

		.container.\32 5\25 {
			width: 25%;
		}

		.container {
			width: 100%;
		}

	}

	@media screen and (max-width: 840px) {

		.container.\31 25\25 {
			width: 100%;
			max-width: 125%;
			min-width: 100%;
		}

		.container.\37 5\25 {
			width: 75%;
		}

		.container.\35 0\25 {
			width: 50%;
		}

		.container.\32 5\25 {
			width: 25%;
		}

		.container {
			width: 100% !important;
		}

	}

	@media screen and (max-width: 736px) {

		.container.\31 25\25 {
			width: 100%;
			max-width: 125%;
			min-width: 100%;
		}

		.container.\37 5\25 {
			width: 75%;
		}

		.container.\35 0\25 {
			width: 50%;
		}

		.container.\32 5\25 {
			width: 25%;
		}

		.container {
			width: 100% !important;
		}

	}

/* Grid */

	.row {
		border-bottom: solid 1px transparent;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

	.row > * {
		float: left;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

	.row:after, .row:before {
		content: '';
		display: block;
		clear: both;
		height: 0;
	}

	.row.uniform > * > :first-child {
		margin-top: 0;
	}

	.row.uniform > * > :last-child {
		margin-bottom: 0;
	}

	.row.\30 \25 > * {
		padding: 0px 0 0 0px;
	}

	.row.\30 \25 {
		margin: 0px 0 -1px 0px;
	}

	.row.uniform.\30 \25 > * {
		padding: 0px 0 0 0px;
	}

	.row.uniform.\30 \25 {
		margin: 0px 0 -1px 0px;
	}

	.row > * {
		padding: 48px 0 0 48px;
	}

	.row {
		margin: -48px 0 -1px -48px;
	}

	.row.uniform > * {
		padding: 48px 0 0 48px;
	}

	.row.uniform {
		margin: -48px 0 -1px -48px;
	}

	.row.\32 00\25 > * {
		padding: 96px 0 0 96px;
	}

	.row.\32 00\25 {
		margin: -96px 0 -1px -96px;
	}

	.row.uniform.\32 00\25 > * {
		padding: 96px 0 0 96px;
	}

	.row.uniform.\32 00\25 {
		margin: -96px 0 -1px -96px;
	}

	.row.\31 50\25 > * {
		padding: 72px 0 0 72px;
	}

	.row.\31 50\25 {
		margin: -72px 0 -1px -72px;
	}

	.row.uniform.\31 50\25 > * {
		padding: 72px 0 0 72px;
	}

	.row.uniform.\31 50\25 {
		margin: -72px 0 -1px -72px;
	}

	.row.\35 0\25 > * {
		padding: 24px 0 0 24px;
	}

	.row.\35 0\25 {
		margin: -24px 0 -1px -24px;
	}

	.row.uniform.\35 0\25 > * {
		padding: 24px 0 0 24px;
	}

	.row.uniform.\35 0\25 {
		margin: -24px 0 -1px -24px;
	}

	.row.\32 5\25 > * {
		padding: 12px 0 0 12px;
	}

	.row.\32 5\25 {
		margin: -12px 0 -1px -12px;
	}

	.row.uniform.\32 5\25 > * {
		padding: 12px 0 0 12px;
	}

	.row.uniform.\32 5\25 {
		margin: -12px 0 -1px -12px;
	}

	.\31 2u, .\31 2u\24 {
		width: 100%;
		clear: none;
		margin-left: 0;
	}

	.\31 1u, .\31 1u\24 {
		width: 91.6666666667%;
		clear: none;
		margin-left: 0;
	}

	.\31 0u, .\31 0u\24 {
		width: 83.3333333333%;
		clear: none;
		margin-left: 0;
	}

	.\39 u, .\39 u\24 {
		width: 75%;
		clear: none;
		margin-left: 0;
	}

	.\38 u, .\38 u\24 {
		width: 66.6666666667%;
		clear: none;
		margin-left: 0;
	}

	.\37 u, .\37 u\24 {
		width: 58.3333333333%;
		clear: none;
		margin-left: 0;
	}

	.\36 u, .\36 u\24 {
		width: 50%;
		clear: none;
		margin-left: 0;
	}

	.\35 u, .\35 u\24 {
		width: 41.6666666667%;
		clear: none;
		margin-left: 0;
	}

	.\34 u, .\34 u\24 {
		width: 33.3333333333%;
		clear: none;
		margin-left: 0;
	}

	.\33 u, .\33 u\24 {
		width: 25%;
		clear: none;
		margin-left: 0;
	}

	.\32 u, .\32 u\24 {
		width: 16.6666666667%;
		clear: none;
		margin-left: 0;
	}

	.\31 u, .\31 u\24 {
		width: 8.3333333333%;
		clear: none;
		margin-left: 0;
	}

	.\31 2u\24 + *,
	.\31 1u\24 + *,
	.\31 0u\24 + *,
	.\39 u\24 + *,
	.\38 u\24 + *,
	.\37 u\24 + *,
	.\36 u\24 + *,
	.\35 u\24 + *,
	.\34 u\24 + *,
	.\33 u\24 + *,
	.\32 u\24 + *,
	.\31 u\24 + * {
		clear: left;
	}

	.\-11u {
		margin-left: 91.66667%;
	}

	.\-10u {
		margin-left: 83.33333%;
	}

	.\-9u {
		margin-left: 75%;
	}

	.\-8u {
		margin-left: 66.66667%;
	}

	.\-7u {
		margin-left: 58.33333%;
	}

	.\-6u {
		margin-left: 50%;
	}

	.\-5u {
		margin-left: 41.66667%;
	}

	.\-4u {
		margin-left: 33.33333%;
	}

	.\-3u {
		margin-left: 25%;
	}

	.\-2u {
		margin-left: 16.66667%;
	}

	.\-1u {
		margin-left: 8.33333%;
	}

	@media screen and (max-width: 1680px) {

		.row > * {
			padding: 48px 0 0 48px;
		}

		.row {
			margin: -48px 0 -1px -48px;
		}

		.row.uniform > * {
			padding: 48px 0 0 48px;
		}

		.row.uniform {
			margin: -48px 0 -1px -48px;
		}

		.row.\32 00\25 > * {
			padding: 96px 0 0 96px;
		}

		.row.\32 00\25 {
			margin: -96px 0 -1px -96px;
		}

		.row.uniform.\32 00\25 > * {
			padding: 96px 0 0 96px;
		}

		.row.uniform.\32 00\25 {
			margin: -96px 0 -1px -96px;
		}

		.row.\31 50\25 > * {
			padding: 72px 0 0 72px;
		}

		.row.\31 50\25 {
			margin: -72px 0 -1px -72px;
		}

		.row.uniform.\31 50\25 > * {
			padding: 72px 0 0 72px;
		}

		.row.uniform.\31 50\25 {
			margin: -72px 0 -1px -72px;
		}

		.row.\35 0\25 > * {
			padding: 24px 0 0 24px;
		}

		.row.\35 0\25 {
			margin: -24px 0 -1px -24px;
		}

		.row.uniform.\35 0\25 > * {
			padding: 24px 0 0 24px;
		}

		.row.uniform.\35 0\25 {
			margin: -24px 0 -1px -24px;
		}

		.row.\32 5\25 > * {
			padding: 12px 0 0 12px;
		}

		.row.\32 5\25 {
			margin: -12px 0 -1px -12px;
		}

		.row.uniform.\32 5\25 > * {
			padding: 12px 0 0 12px;
		}

		.row.uniform.\32 5\25 {
			margin: -12px 0 -1px -12px;
		}

		.\31 2u\28wide\29, .\31 2u\24\28wide\29 {
			width: 100%;
			clear: none;
			margin-left: 0;
		}

		.\31 1u\28wide\29, .\31 1u\24\28wide\29 {
			width: 91.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\31 0u\28wide\29, .\31 0u\24\28wide\29 {
			width: 83.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\39 u\28wide\29, .\39 u\24\28wide\29 {
			width: 75%;
			clear: none;
			margin-left: 0;
		}

		.\38 u\28wide\29, .\38 u\24\28wide\29 {
			width: 66.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\37 u\28wide\29, .\37 u\24\28wide\29 {
			width: 58.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\36 u\28wide\29, .\36 u\24\28wide\29 {
			width: 50%;
			clear: none;
			margin-left: 0;
		}

		.\35 u\28wide\29, .\35 u\24\28wide\29 {
			width: 41.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\34 u\28wide\29, .\34 u\24\28wide\29 {
			width: 33.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\33 u\28wide\29, .\33 u\24\28wide\29 {
			width: 25%;
			clear: none;
			margin-left: 0;
		}

		.\32 u\28wide\29, .\32 u\24\28wide\29 {
			width: 16.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\31 u\28wide\29, .\31 u\24\28wide\29 {
			width: 8.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\31 2u\24\28wide\29 + *,
		.\31 1u\24\28wide\29 + *,
		.\31 0u\24\28wide\29 + *,
		.\39 u\24\28wide\29 + *,
		.\38 u\24\28wide\29 + *,
		.\37 u\24\28wide\29 + *,
		.\36 u\24\28wide\29 + *,
		.\35 u\24\28wide\29 + *,
		.\34 u\24\28wide\29 + *,
		.\33 u\24\28wide\29 + *,
		.\32 u\24\28wide\29 + *,
		.\31 u\24\28wide\29 + * {
			clear: left;
		}

		.\-11u\28wide\29 {
			margin-left: 91.66667%;
		}

		.\-10u\28wide\29 {
			margin-left: 83.33333%;
		}

		.\-9u\28wide\29 {
			margin-left: 75%;
		}

		.\-8u\28wide\29 {
			margin-left: 66.66667%;
		}

		.\-7u\28wide\29 {
			margin-left: 58.33333%;
		}

		.\-6u\28wide\29 {
			margin-left: 50%;
		}

		.\-5u\28wide\29 {
			margin-left: 41.66667%;
		}

		.\-4u\28wide\29 {
			margin-left: 33.33333%;
		}

		.\-3u\28wide\29 {
			margin-left: 25%;
		}

		.\-2u\28wide\29 {
			margin-left: 16.66667%;
		}

		.\-1u\28wide\29 {
			margin-left: 8.33333%;
		}

	}

	@media screen and (max-width: 1280px) {

		.row > * {
			padding: 36px 0 0 36px;
		}

		.row {
			margin: -36px 0 -1px -36px;
		}

		.row.uniform > * {
			padding: 36px 0 0 36px;
		}

		.row.uniform {
			margin: -36px 0 -1px -36px;
		}

		.row.\32 00\25 > * {
			padding: 72px 0 0 72px;
		}

		.row.\32 00\25 {
			margin: -72px 0 -1px -72px;
		}

		.row.uniform.\32 00\25 > * {
			padding: 72px 0 0 72px;
		}

		.row.uniform.\32 00\25 {
			margin: -72px 0 -1px -72px;
		}

		.row.\31 50\25 > * {
			padding: 54px 0 0 54px;
		}

		.row.\31 50\25 {
			margin: -54px 0 -1px -54px;
		}

		.row.uniform.\31 50\25 > * {
			padding: 54px 0 0 54px;
		}

		.row.uniform.\31 50\25 {
			margin: -54px 0 -1px -54px;
		}

		.row.\35 0\25 > * {
			padding: 18px 0 0 18px;
		}

		.row.\35 0\25 {
			margin: -18px 0 -1px -18px;
		}

		.row.uniform.\35 0\25 > * {
			padding: 18px 0 0 18px;
		}

		.row.uniform.\35 0\25 {
			margin: -18px 0 -1px -18px;
		}

		.row.\32 5\25 > * {
			padding: 9px 0 0 9px;
		}

		.row.\32 5\25 {
			margin: -9px 0 -1px -9px;
		}

		.row.uniform.\32 5\25 > * {
			padding: 9px 0 0 9px;
		}

		.row.uniform.\32 5\25 {
			margin: -9px 0 -1px -9px;
		}

		.\31 2u\28normal\29, .\31 2u\24\28normal\29 {
			width: 100%;
			clear: none;
			margin-left: 0;
		}

		.\31 1u\28normal\29, .\31 1u\24\28normal\29 {
			width: 91.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\31 0u\28normal\29, .\31 0u\24\28normal\29 {
			width: 83.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\39 u\28normal\29, .\39 u\24\28normal\29 {
			width: 75%;
			clear: none;
			margin-left: 0;
		}

		.\38 u\28normal\29, .\38 u\24\28normal\29 {
			width: 66.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\37 u\28normal\29, .\37 u\24\28normal\29 {
			width: 58.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\36 u\28normal\29, .\36 u\24\28normal\29 {
			width: 50%;
			clear: none;
			margin-left: 0;
		}

		.\35 u\28normal\29, .\35 u\24\28normal\29 {
			width: 41.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\34 u\28normal\29, .\34 u\24\28normal\29 {
			width: 33.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\33 u\28normal\29, .\33 u\24\28normal\29 {
			width: 25%;
			clear: none;
			margin-left: 0;
		}

		.\32 u\28normal\29, .\32 u\24\28normal\29 {
			width: 16.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\31 u\28normal\29, .\31 u\24\28normal\29 {
			width: 8.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\31 2u\24\28normal\29 + *,
		.\31 1u\24\28normal\29 + *,
		.\31 0u\24\28normal\29 + *,
		.\39 u\24\28normal\29 + *,
		.\38 u\24\28normal\29 + *,
		.\37 u\24\28normal\29 + *,
		.\36 u\24\28normal\29 + *,
		.\35 u\24\28normal\29 + *,
		.\34 u\24\28normal\29 + *,
		.\33 u\24\28normal\29 + *,
		.\32 u\24\28normal\29 + *,
		.\31 u\24\28normal\29 + * {
			clear: left;
		}

		.\-11u\28normal\29 {
			margin-left: 91.66667%;
		}

		.\-10u\28normal\29 {
			margin-left: 83.33333%;
		}

		.\-9u\28normal\29 {
			margin-left: 75%;
		}

		.\-8u\28normal\29 {
			margin-left: 66.66667%;
		}

		.\-7u\28normal\29 {
			margin-left: 58.33333%;
		}

		.\-6u\28normal\29 {
			margin-left: 50%;
		}

		.\-5u\28normal\29 {
			margin-left: 41.66667%;
		}

		.\-4u\28normal\29 {
			margin-left: 33.33333%;
		}

		.\-3u\28normal\29 {
			margin-left: 25%;
		}

		.\-2u\28normal\29 {
			margin-left: 16.66667%;
		}

		.\-1u\28normal\29 {
			margin-left: 8.33333%;
		}

	}

	@media screen and (max-width: 960px) {

		.row > * {
			padding: 32px 0 0 32px;
		}

		.row {
			margin: -32px 0 -1px -32px;
		}

		.row.uniform > * {
			padding: 32px 0 0 32px;
		}

		.row.uniform {
			margin: -32px 0 -1px -32px;
		}

		.row.\32 00\25 > * {
			padding: 64px 0 0 64px;
		}

		.row.\32 00\25 {
			margin: -64px 0 -1px -64px;
		}

		.row.uniform.\32 00\25 > * {
			padding: 64px 0 0 64px;
		}

		.row.uniform.\32 00\25 {
			margin: -64px 0 -1px -64px;
		}

		.row.\31 50\25 > * {
			padding: 48px 0 0 48px;
		}

		.row.\31 50\25 {
			margin: -48px 0 -1px -48px;
		}

		.row.uniform.\31 50\25 > * {
			padding: 48px 0 0 48px;
		}

		.row.uniform.\31 50\25 {
			margin: -48px 0 -1px -48px;
		}

		.row.\35 0\25 > * {
			padding: 16px 0 0 16px;
		}

		.row.\35 0\25 {
			margin: -16px 0 -1px -16px;
		}

		.row.uniform.\35 0\25 > * {
			padding: 16px 0 0 16px;
		}

		.row.uniform.\35 0\25 {
			margin: -16px 0 -1px -16px;
		}

		.row.\32 5\25 > * {
			padding: 8px 0 0 8px;
		}

		.row.\32 5\25 {
			margin: -8px 0 -1px -8px;
		}

		.row.uniform.\32 5\25 > * {
			padding: 8px 0 0 8px;
		}

		.row.uniform.\32 5\25 {
			margin: -8px 0 -1px -8px;
		}

		.\31 2u\28narrow\29, .\31 2u\24\28narrow\29 {
			width: 100%;
			clear: none;
			margin-left: 0;
		}

		.\31 1u\28narrow\29, .\31 1u\24\28narrow\29 {
			width: 91.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\31 0u\28narrow\29, .\31 0u\24\28narrow\29 {
			width: 83.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\39 u\28narrow\29, .\39 u\24\28narrow\29 {
			width: 75%;
			clear: none;
			margin-left: 0;
		}

		.\38 u\28narrow\29, .\38 u\24\28narrow\29 {
			width: 66.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\37 u\28narrow\29, .\37 u\24\28narrow\29 {
			width: 58.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\36 u\28narrow\29, .\36 u\24\28narrow\29 {
			width: 50%;
			clear: none;
			margin-left: 0;
		}

		.\35 u\28narrow\29, .\35 u\24\28narrow\29 {
			width: 41.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\34 u\28narrow\29, .\34 u\24\28narrow\29 {
			width: 33.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\33 u\28narrow\29, .\33 u\24\28narrow\29 {
			width: 25%;
			clear: none;
			margin-left: 0;
		}

		.\32 u\28narrow\29, .\32 u\24\28narrow\29 {
			width: 16.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\31 u\28narrow\29, .\31 u\24\28narrow\29 {
			width: 8.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\31 2u\24\28narrow\29 + *,
		.\31 1u\24\28narrow\29 + *,
		.\31 0u\24\28narrow\29 + *,
		.\39 u\24\28narrow\29 + *,
		.\38 u\24\28narrow\29 + *,
		.\37 u\24\28narrow\29 + *,
		.\36 u\24\28narrow\29 + *,
		.\35 u\24\28narrow\29 + *,
		.\34 u\24\28narrow\29 + *,
		.\33 u\24\28narrow\29 + *,
		.\32 u\24\28narrow\29 + *,
		.\31 u\24\28narrow\29 + * {
			clear: left;
		}

		.\-11u\28narrow\29 {
			margin-left: 91.66667%;
		}

		.\-10u\28narrow\29 {
			margin-left: 83.33333%;
		}

		.\-9u\28narrow\29 {
			margin-left: 75%;
		}

		.\-8u\28narrow\29 {
			margin-left: 66.66667%;
		}

		.\-7u\28narrow\29 {
			margin-left: 58.33333%;
		}

		.\-6u\28narrow\29 {
			margin-left: 50%;
		}

		.\-5u\28narrow\29 {
			margin-left: 41.66667%;
		}

		.\-4u\28narrow\29 {
			margin-left: 33.33333%;
		}

		.\-3u\28narrow\29 {
			margin-left: 25%;
		}

		.\-2u\28narrow\29 {
			margin-left: 16.66667%;
		}

		.\-1u\28narrow\29 {
			margin-left: 8.33333%;
		}

	}

	@media screen and (max-width: 840px) {

		.row > * {
			padding: 32px 0 0 32px;
		}

		.row {
			margin: -32px 0 -1px -32px;
		}

		.row.uniform > * {
			padding: 32px 0 0 32px;
		}

		.row.uniform {
			margin: -32px 0 -1px -32px;
		}

		.row.\32 00\25 > * {
			padding: 64px 0 0 64px;
		}

		.row.\32 00\25 {
			margin: -64px 0 -1px -64px;
		}

		.row.uniform.\32 00\25 > * {
			padding: 64px 0 0 64px;
		}

		.row.uniform.\32 00\25 {
			margin: -64px 0 -1px -64px;
		}

		.row.\31 50\25 > * {
			padding: 48px 0 0 48px;
		}

		.row.\31 50\25 {
			margin: -48px 0 -1px -48px;
		}

		.row.uniform.\31 50\25 > * {
			padding: 48px 0 0 48px;
		}

		.row.uniform.\31 50\25 {
			margin: -48px 0 -1px -48px;
		}

		.row.\35 0\25 > * {
			padding: 16px 0 0 16px;
		}

		.row.\35 0\25 {
			margin: -16px 0 -1px -16px;
		}

		.row.uniform.\35 0\25 > * {
			padding: 16px 0 0 16px;
		}

		.row.uniform.\35 0\25 {
			margin: -16px 0 -1px -16px;
		}

		.row.\32 5\25 > * {
			padding: 8px 0 0 8px;
		}

		.row.\32 5\25 {
			margin: -8px 0 -1px -8px;
		}

		.row.uniform.\32 5\25 > * {
			padding: 8px 0 0 8px;
		}

		.row.uniform.\32 5\25 {
			margin: -8px 0 -1px -8px;
		}

		.\31 2u\28narrower\29, .\31 2u\24\28narrower\29 {
			width: 100%;
			clear: none;
			margin-left: 0;
		}

		.\31 1u\28narrower\29, .\31 1u\24\28narrower\29 {
			width: 91.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\31 0u\28narrower\29, .\31 0u\24\28narrower\29 {
			width: 83.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\39 u\28narrower\29, .\39 u\24\28narrower\29 {
			width: 75%;
			clear: none;
			margin-left: 0;
		}

		.\38 u\28narrower\29, .\38 u\24\28narrower\29 {
			width: 66.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\37 u\28narrower\29, .\37 u\24\28narrower\29 {
			width: 58.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\36 u\28narrower\29, .\36 u\24\28narrower\29 {
			width: 50%;
			clear: none;
			margin-left: 0;
		}

		.\35 u\28narrower\29, .\35 u\24\28narrower\29 {
			width: 41.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\34 u\28narrower\29, .\34 u\24\28narrower\29 {
			width: 33.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\33 u\28narrower\29, .\33 u\24\28narrower\29 {
			width: 25%;
			clear: none;
			margin-left: 0;
		}

		.\32 u\28narrower\29, .\32 u\24\28narrower\29 {
			width: 16.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\31 u\28narrower\29, .\31 u\24\28narrower\29 {
			width: 8.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\31 2u\24\28narrower\29 + *,
		.\31 1u\24\28narrower\29 + *,
		.\31 0u\24\28narrower\29 + *,
		.\39 u\24\28narrower\29 + *,
		.\38 u\24\28narrower\29 + *,
		.\37 u\24\28narrower\29 + *,
		.\36 u\24\28narrower\29 + *,
		.\35 u\24\28narrower\29 + *,
		.\34 u\24\28narrower\29 + *,
		.\33 u\24\28narrower\29 + *,
		.\32 u\24\28narrower\29 + *,
		.\31 u\24\28narrower\29 + * {
			clear: left;
		}

		.\-11u\28narrower\29 {
			margin-left: 91.66667%;
		}

		.\-10u\28narrower\29 {
			margin-left: 83.33333%;
		}

		.\-9u\28narrower\29 {
			margin-left: 75%;
		}

		.\-8u\28narrower\29 {
			margin-left: 66.66667%;
		}

		.\-7u\28narrower\29 {
			margin-left: 58.33333%;
		}

		.\-6u\28narrower\29 {
			margin-left: 50%;
		}

		.\-5u\28narrower\29 {
			margin-left: 41.66667%;
		}

		.\-4u\28narrower\29 {
			margin-left: 33.33333%;
		}

		.\-3u\28narrower\29 {
			margin-left: 25%;
		}

		.\-2u\28narrower\29 {
			margin-left: 16.66667%;
		}

		.\-1u\28narrower\29 {
			margin-left: 8.33333%;
		}

	}

	@media screen and (max-width: 736px) {

		.row > * {
			padding: 20px 0 0 20px;
		}

		.row {
			margin: -20px 0 -1px -20px;
		}

		.row.uniform > * {
			padding: 20px 0 0 20px;
		}

		.row.uniform {
			margin: -20px 0 -1px -20px;
		}

		.row.\32 00\25 > * {
			padding: 40px 0 0 40px;
		}

		.row.\32 00\25 {
			margin: -40px 0 -1px -40px;
		}

		.row.uniform.\32 00\25 > * {
			padding: 40px 0 0 40px;
		}

		.row.uniform.\32 00\25 {
			margin: -40px 0 -1px -40px;
		}

		.row.\31 50\25 > * {
			padding: 30px 0 0 30px;
		}

		.row.\31 50\25 {
			margin: -30px 0 -1px -30px;
		}

		.row.uniform.\31 50\25 > * {
			padding: 30px 0 0 30px;
		}

		.row.uniform.\31 50\25 {
			margin: -30px 0 -1px -30px;
		}

		.row.\35 0\25 > * {
			padding: 10px 0 0 10px;
		}

		.row.\35 0\25 {
			margin: -10px 0 -1px -10px;
		}

		.row.uniform.\35 0\25 > * {
			padding: 10px 0 0 10px;
		}

		.row.uniform.\35 0\25 {
			margin: -10px 0 -1px -10px;
		}

		.row.\32 5\25 > * {
			padding: 5px 0 0 5px;
		}

		.row.\32 5\25 {
			margin: -5px 0 -1px -5px;
		}

		.row.uniform.\32 5\25 > * {
			padding: 5px 0 0 5px;
		}

		.row.uniform.\32 5\25 {
			margin: -5px 0 -1px -5px;
		}

		.\31 2u\28mobile\29, .\31 2u\24\28mobile\29 {
			width: 100%;
			clear: none;
			margin-left: 0;
		}

		.\31 1u\28mobile\29, .\31 1u\24\28mobile\29 {
			width: 91.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\31 0u\28mobile\29, .\31 0u\24\28mobile\29 {
			width: 83.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\39 u\28mobile\29, .\39 u\24\28mobile\29 {
			width: 75%;
			clear: none;
			margin-left: 0;
		}

		.\38 u\28mobile\29, .\38 u\24\28mobile\29 {
			width: 66.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\37 u\28mobile\29, .\37 u\24\28mobile\29 {
			width: 58.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\36 u\28mobile\29, .\36 u\24\28mobile\29 {
			width: 50%;
			clear: none;
			margin-left: 0;
		}

		.\35 u\28mobile\29, .\35 u\24\28mobile\29 {
			width: 41.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\34 u\28mobile\29, .\34 u\24\28mobile\29 {
			width: 33.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\33 u\28mobile\29, .\33 u\24\28mobile\29 {
			width: 25%;
			clear: none;
			margin-left: 0;
		}

		.\32 u\28mobile\29, .\32 u\24\28mobile\29 {
			width: 16.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\31 u\28mobile\29, .\31 u\24\28mobile\29 {
			width: 8.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\31 2u\24\28mobile\29 + *,
		.\31 1u\24\28mobile\29 + *,
		.\31 0u\24\28mobile\29 + *,
		.\39 u\24\28mobile\29 + *,
		.\38 u\24\28mobile\29 + *,
		.\37 u\24\28mobile\29 + *,
		.\36 u\24\28mobile\29 + *,
		.\35 u\24\28mobile\29 + *,
		.\34 u\24\28mobile\29 + *,
		.\33 u\24\28mobile\29 + *,
		.\32 u\24\28mobile\29 + *,
		.\31 u\24\28mobile\29 + * {
			clear: left;
		}

		.\-11u\28mobile\29 {
			margin-left: 91.66667%;
		}

		.\-10u\28mobile\29 {
			margin-left: 83.33333%;
		}

		.\-9u\28mobile\29 {
			margin-left: 75%;
		}

		.\-8u\28mobile\29 {
			margin-left: 66.66667%;
		}

		.\-7u\28mobile\29 {
			margin-left: 58.33333%;
		}

		.\-6u\28mobile\29 {
			margin-left: 50%;
		}

		.\-5u\28mobile\29 {
			margin-left: 41.66667%;
		}

		.\-4u\28mobile\29 {
			margin-left: 33.33333%;
		}

		.\-3u\28mobile\29 {
			margin-left: 25%;
		}

		.\-2u\28mobile\29 {
			margin-left: 16.66667%;
		}

		.\-1u\28mobile\29 {
			margin-left: 8.33333%;
		}

	}

/* Basic */

	body {
/* 		background: #f0f4f4;
		color: #5b5b5b;
		font-size: 15pt;
		line-height: 1.85em;
		font-family: 'Source Sans Pro', sans-serif;
		
	    font: arial, helvetica;
		font-weight: 300;
 */	}

		body.is-loading *, body.is-loading *:after, body.is-loading *:before {
			-moz-transition: none !important;
			-webkit-transition: none !important;
			-ms-transition: none !important;
			transition: none !important;
			-moz-animation: none !important;
			-webkit-animation: none !important;
			-ms-animation: none !important;
			animation: none !important;
		}

/* 	input, textarea, select {
		font-size: 15pt;
		line-height: 1.85em;
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: 300;
	}
 */
	h1, h2, h3, h4, h5, h6 {
		font-weight: 500;
/* 		color: #483949; */

		line-height: 1.25em;
	}

	h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
		color: inherit;
		text-decoration: none;
		border-bottom-color: transparent;
	}

	h1 strong, h2 strong, h3 strong, h4 strong, h5 strong, h6 strong {
		font-weight: 600;
	}

	h2 {
		font-size: 1.0em;
	}

	h3 {
		font-size: 1.4em;
	}

	h4 {
		font-size: 1em;
		margin: 0 0 0.25em 0;
	}

	strong, b {
		font-weight: 400;
		color: #333;
	}

	em, i {
		font-style: italic;
	}

/* 	a {
		color: inherit;
		border-bottom: solid 1px rgba(128, 128, 128, 0.15);
		text-decoration: none;
		-moz-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
		-webkit-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
		-ms-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
		transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
	}

		a:hover {
			color: #ef8376;
			border-bottom-color: transparent;
		}
 */
	sub {
		position: relative;
		top: 0.5em;
		font-size: 0.8em;
	}

	sup {
		position: relative;
		top: -0.5em;
		font-size: 0.8em;
	}

	blockquote {
		border-left: solid 0.5em #ddd;
		padding: 1em 0 1em 2em;
		font-style: italic;
	}

	p, ul, ol, dl, table {
		margin-bottom: 1em;
	}

	p {
		text-align: justify;
	}

	br.clear {
		clear: both;
	}

	hr {
		position: relative;
		display: block;
		border: 0;
		top: 3.5em;
		margin-bottom: 5.0em;
		height: 6px;
		border-top: solid 1px rgba(128, 128, 128, 0.2);
		border-bottom: solid 1px rgba(128, 128, 128, 0.2);
	}

		hr:before, hr:after {
			content: '';
			position: absolute;
			top: -8px;
			display: block;
			width: 1px;
			height: 21px;
			background: rgba(128, 128, 128, 0.2);
		}

		hr:before {
			left: -1px;
		}

		hr:after {
			right: -1px;
		}

	.timestamp {
		color: rgba(128, 128, 128, 0.75);
		font-size: 0.8em;
	}

/* Sections/Article */

	section, article {
		margin-bottom: 0em;
	}

		section > :last-child, section:last-child, article > :last-child, article:last-child {
			margin-bottom: 0;
		}

		section.special > header, section.special > footer, article.special > header, article.special > footer {
			text-align: center;
		}

	.row > section, .row > article {
		margin-bottom: 0;
	}

	header {
		margin: 0 0 0 0;
	}

		header > p {
			display: block;
			font-size: 1.5em;
			margin: 1em 0 2em 0;
			line-height: 1.5em;
			text-align: inherit;
		}

	footer {
		margin: 2.5em 0 0 0;
	}

/* Image */

	.image {
		position: relative;
		display: inline-block;
		border: 0;
		outline: 0;
	}

		.image img {
			display: block;
			width: 100%;
		}

		.image.fit {
			display: block;
			width: 100%;
		}

		.image.featured {
			display: block;
			width: 100%;
			margin: 0 0 3em 0;
		}

		.image.left {
			float: left;
			margin: 0 2em 2em 0;
		}

		.image.centered {
			display: block;
			margin: 0 0 2em 0;
		}

			.image.centered img {
				margin: 0 auto;
				width: auto;
			}

/* List */

	ul.default {
		list-style: disc;
		padding-left: 1em;
	}

		ul.default li {
			padding-left: 0.5em;
		}

	ul.actions {
		margin: 3em 0 0 0;
	}

		form ul.actions {
			margin-top: 0;
		}

		ul.actions li {
			display: inline-block;
			margin: 0 0.75em 0 0.75em;
		}

			ul.actions li:first-child {
				margin-left: 0;
			}

			ul.actions li:last-child {
				margin-right: 0;
			}

	ul.divided li {
		border-top: solid 1px rgba(128, 128, 128, 0.2);
		padding-top: 1.5em;
		margin-top: 1.5em;
	}

		ul.divided li:first-child {
			border-top: 0;
			padding-top: 0;
			margin-top: 0;
		}

	ul.menu {
		height: 1em;
		line-height: 1em;
	}

		ul.menu li {
			display: inline-block;
			border-left: solid 1px rgba(128, 128, 128, 0.2);
			padding-left: 1.25em;
			margin-left: 1.25em;
		}

			ul.menu li:first-child {
				border-left: 0;
				padding-left: 0;
				margin-left: 0;
			}

	ul.icons {
		position: relative;
		background: rgba(128, 128, 128, 0.05);
		border-radius: 4em;
		display: inline-block;
		padding: 0.35em 0.75em 0.35em 0.75em;
		font-size: 1.25em;
		cursor: default;
	}

		ul.icons li {
			display: inline-block;
		}

			ul.icons li a {
				display: inline-block;
				background: none;
				width: 2.5em;
				height: 2.5em;
				line-height: 2.5em;
				text-align: center;
				border-radius: 100%;
				border: 0;
				color: inherit;
			}

				ul.icons li a:hover {
					color: #ef8376;
				}

	ol.default {
		list-style: decimal;
		padding-left: 1.25em;
	}

		ol.default li {
			padding-left: 0.25em;
		}

/* Form */

	form label {
		display: block;
		font-weight: 400;
		color: #333;
		margin: 0 0 1em 0;
	}

/*  	form input[type="text"],
	form input[type="email"],
	form input[type="password"],
	form select,
	form textarea {
		-webkit-appearance: none;
		display: block;
		border: 0;
		background: #fafafa;
		width: 100%;
		border-radius: 0.5em;
		border: solid 1px #E5E5E5;
		padding: 1em;
		-moz-transition: background-color 0.35s ease-in-out, border-color 0.35s ease-in-out;
		-webkit-transition: background-color 0.35s ease-in-out, border-color 0.35s ease-in-out;
		-ms-transition: background-color 0.35s ease-in-out, border-color 0.35s ease-in-out;
		transition: background-color 0.35s ease-in-out, border-color 0.35s ease-in-out;
	}

		form input[type="text"]:focus,
		form input[type="email"]:focus,
		form input[type="password"]:focus,
		form select:focus,
		form textarea:focus {
			background: #fff;
			border-color: #df7366;
		}
 */
/*  	form input[type="text"],
 	form input[type="email"],
	form input[type="password"],
	form select {
		line-height: 1em;
	}

	form textarea {
		min-height: 9em;
	}

 */	form .formerize-placeholder {
		color: #555 !important;
	}

	form ::-webkit-input-placeholder {
		color: #555 !important;
	}

	form :-moz-placeholder {
		color: #555 !important;
	}

	form ::-moz-placeholder {
		color: #555 !important;
	}

	form :-ms-input-placeholder {
		color: #555 !important;
	}

	form ::-moz-focus-inner {
		border: 0;
	}

/* Table */

	table {
		width: 100%;
	}

		table.default {
			width: 100%;
		}

			table.default tbody tr {
				border-top: solid 1px #e5e5e5;
			}

				table.default tbody tr:first-child {
					border-top: 0;
				}

				table.default tbody tr:nth-child(2n+1) {
					background: #fafafa;
				}

			table.default td {
				padding: 0.5em 1em 0.5em 1em;
			}

			table.default th {
				text-align: left;
				font-weight: 400;
				padding: 0.5em 1em 0.5em 1em;
			}

			table.default thead {
				border-bottom: solid 2px #e5e5e5;
			}

			table.default tfoot {
				border-top: solid 2px #e5e5e5;
			}

/* Button */

	input[type="button"],
	input[type="submit"],
	input[type="reset"],
	button,
	.button {
		position: relative;
		display: inline-block;
		color: #fff;
		text-align: center;
		border-radius: 0.5em;
		text-decoration: none;
		padding: 0.65em 3em 0.65em 3em;
		border: 0;
		cursor: pointer;
		outline: 0;
		font-weight: 300;
		-moz-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
		-webkit-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
		-ms-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
		transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
	}

		input[type="button"]:hover,
		input[type="submit"]:hover,
		input[type="reset"]:hover,
		button:hover,
		.button:hover {
			color: #fff;
			background: #ef8376;
		}

		input[type="button"].alt,
		input[type="submit"].alt,
		input[type="reset"].alt,
		button.alt,
		.button.alt {
			background: #2B252C;
		}

			input[type="button"].alt:hover,
			input[type="submit"].alt:hover,
			input[type="reset"].alt:hover,
			button.alt:hover,
			.button.alt:hover {
				background: #3B353C;
			}

/* Post */

	.post.stub {
		text-align: center;
	}

		.post.stub header {
			margin: 0;
		}

/* Icons */

	.icon {
		text-decoration: none;
	}

		.icon:before {
			display: inline-block;
			font-family: FontAwesome;
			font-size: 1.25em;
			text-decoration: none;
			font-style: normal;
			font-weight: normal;
			line-height: 1;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
		}

		.icon > .label {
			display: none;
		}

		.icon.circled {
			position: relative;
			display: inline-block;
			background: #2b252c;
			color: #fff;
			border-radius: 100%;
			width: 3em;
			height: 3em;
			line-height: 3.25em;
			text-align: center;
			font-size: 1.25em;
		}

			header .icon.circled {
				margin: 0 0 2em 0;
			}

/* Wrapper */

	.wrapper {
		background: #fff;
		margin: 0 0 2em 0;
		padding: 3em 0 1.2em 0;
	}

		.wrapper.style2 {
			padding-top: 0;
		}

/* Header */

	#header {
		position: relative;
		background-size: cover;
		background-position: center center;
		background-attachment: fixed;
/* 		color: #f1f1f1; */
        color: #444;
		text-align: center;
		padding: 4.5em 0 0em 0;
		cursor: default;
	}

		#header:before {
			content: '';
			display: inline-block;
			vertical-align: middle;
			height: 100%;
		}

		#header .inner {
			position: relative;
			z-index: 1;
			margin: 3em 0 0 0;
			display: inline-block;
			vertical-align: middle;
		}

		#header header {
			display: inline-block;
		}

			#header header > p {
				font-size: 1.25em;
				margin: 0;
			}

		#header h1 {
/* 			color: #fff;
 */			color: #444;
			font-size: 0.67em;
			line-height: 1.8em;
		}

			#header h1 a {
				color: inherit;
			}

		#header .button {
			display: inline-block;
			border-radius: 100%;
			width: 4.5em;
			height: 4.5em;
			line-height: 4.5em;
			text-align: center;
			font-size: 1.25em;
			padding: 0;
		}

		#header hr {
			top: 1.5em;
			margin-bottom: 3em;
			border-bottom-color: rgba(192, 192, 192, 0.35);
			box-shadow: inset 0 1px 0 0 rgba(192, 192, 192, 0.35);
		}

			#header hr:before, #header hr:after {
				background: rgba(192, 192, 192, 0.35);
			}

		#header footer {
			margin: 1em 0 0 0;
		}

	body.homepage #header {
		height: 100vh;
		min-height: 40em;
	}

		body.homepage #header h1 {
			font-size: 4em;
		}

		body.homepage #header:after {
			content: '';
			background: #1C0920;
			display: block;
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			opacity: 0;
			-moz-transition: opacity 2.5s ease-in-out;
			-webkit-transition: opacity 2.5s ease-in-out;
			-ms-transition: opacity 2.5s ease-in-out;
			transition: opacity 2.5s ease-in-out;
			-moz-transition-delay: 0.5s;
			-webkit-transition-delay: 0.5s;
			-ms-transition-delay: 0.5s;
			transition-delay: 0.5s;
		}

	body.homepage.is-loading #header:after {
		opacity: 1;
	}

/* Nav */

	#nav {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		text-align: center;
		padding: 0.5em 0 0.5em 0;
		z-index: 1;
        border-bottom: solid 1px;
        border-bottom-color:#dce0e0;
		background: #fff;
		-ms-user-select: none;
        -webkit-user-select: none;
        -moz-user-select: none;
/* 		overflow: hidden; */
	}

		#nav > ul {
			line-height: 0px;
			position: relative;
			display: inline-block;
			margin: 0;
			height: 110px;
/* 			border-left: solid 1px rgba(192, 192, 192, 0.35);
			border-right: solid 1px rgba(192, 192, 192, 0.35);
 */		}

			#nav > ul:before, #nav > ul:after {
				content: '';
				display: block;
/* 				width: 300%; */
				position: absolute;
				top: 50%;
				margin-top: -2px;
				height: 5px;
/* 				border-top: solid 1px rgba(192, 192, 192, 0.35);
				border-bottom: solid 1px rgba(192, 192, 192, 0.35);
 */			}

			#nav > ul:before {
				left: 100%;
				margin-left: 1px;
			}

			#nav > ul:after {
				right: 100%;
				margin-right: 1px;
			}

			#nav > ul > li {
				display: inline-block;
				margin: -9px 0.5em 0 0.5em;
				border-radius: 0.5em;
				padding: 0.85em;
				border: solid 1px transparent;
				-moz-transition: color 0.35s ease-in-out, border-color 0.35s ease-in-out;
				-webkit-transition: color 0.35s ease-in-out, border-color 0.35s ease-in-out;
				-ms-transition: color 0.35s ease-in-out, border-color 0.35s ease-in-out;
				transition: color 0.35s ease-in-out, border-color 0.35s ease-in-out;
			}

				#nav > ul > li.active {
					border-color: rgba(192, 192, 192, 0.35);
				}

				#nav > ul > li > a, #nav > ul > li > span {
					display: block;
					color: inherit;
					text-decoration: none;
					border: 0;
					outline: 0;
				}

				#nav > ul > li > ul {
					display: none;
				}

	.dropotron {
		background: rgba(255, 255, 255, 0.975);
		padding: 1em 1.25em 1em 1.25em;
		line-height: 1em;
		height: auto;
		text-align: left;
		border-radius: 0.5em;
		box-shadow: 0 0.15em 0.25em 0 rgba(0, 0, 0, 0.25);
		min-width: 12em;
		margin-top: -1em;
	}

		.dropotron li {
			border-top: solid 1px rgba(128, 128, 128, 0.2);
			color: #5b5b5b;
		}

			.dropotron li:first-child {
				border-top: 0;
			}

			.dropotron li:hover {
				color: #ef8376;
			}

			.dropotron li a, .dropotron li span {
				display: block;
				border: 0;
				padding: 0.5em 0 0.5em 0;
				-moz-transition: color 0.35s ease-in-out;
				-webkit-transition: color 0.35s ease-in-out;
				-ms-transition: color 0.35s ease-in-out;
				transition: color 0.35s ease-in-out;
			}

		.dropotron.level-0 {
			margin-top: 2em;
			font-size: 0.9em;
		}

			.dropotron.level-0:before {
				content: '';
				position: absolute;
				left: 50%;
				top: -0.7em;
				margin-left: -0.75em;
				border-bottom: solid 0.75em rgba(255, 255, 255, 0.975);
				border-left: solid 0.75em rgba(64, 64, 64, 0);
				border-right: solid 0.75em rgba(64, 64, 64, 0);
			}

/* Banner */

	#banner {
		background: #fff;
		text-align: center;
		padding: 4.5em 0 4.5em 0;
		margin-bottom: 0;
	}

		#banner header > p {
			margin-bottom: 0;
		}

/* Content */

	#content > hr {
		top: 3em;
		margin-bottom: 6em;
	}

	#content > section {
		margin-bottom: 0;
	}

/* Sidebar */

	#sidebar > hr {
		top: 3em;
		margin-bottom: 6em;
	}

		#sidebar > hr.first {
			display: none;
		}

	#sidebar > section {
		margin-bottom: 0;
	}

/* Main */

	#main {
/* 		margin-bottom: 0em; */
	}

		#main section:first-of-type {
			padding-top: 3em;
		}

/* Footer */

	#footer {
		position: relative;
		overflow: hidden;
		/* padding: 6em 0 6em 0; */
		padding: 3em 0 0em 0;
		background: #444;
		color: #fff;
	}

		#footer .icon.circled {
			background: #fff;
			color: #2b252c;
		}

		#footer header {
			text-align: center;
			cursor: default;
		}

		#footer h2, #footer h3, #footer h4, #footer h5, #footer h6 {
			color: #fff;
		}

		#footer .contact {
			text-align: center;
		}

			#footer .contact p {
				text-align: center;
				margin: 0 0 3em 0;
			}

		#footer .copyright {
			text-align: center;
			color: rgba(128, 128, 128, 0.75);
			font-size: 0.8em;
			cursor: default;
		}

			#footer .copyright a {
				color: rgba(128, 128, 128, 0.75);
			}

				#footer .copyright a:hover {
					color: rgba(212, 212, 212, 0.85);
				}

/* Carousel */

	.carousel {
		position: relative;
		overflow: hidden;
		padding: 2em 0 2em 0;
		margin-bottom: 0;
	}

		.carousel .forward, .carousel .backward {
			position: absolute;
			top: 50%;
			width: 6em;
			height: 12em;
			margin-top: -6em;
			cursor: pointer;
		}

			.carousel .forward:before, .carousel .backward:before {
				content: '';
				display: block;
				width: 6em;
				height: 6em;
				border-radius: 100%;
				background-color: rgba(72, 57, 73, 0.5);
				position: absolute;
				top: 50%;
				margin-top: -3em;
				-moz-transition: background-color 0.35s ease-in-out;
				-webkit-transition: background-color 0.35s ease-in-out;
				-o-transition: background-color 0.35s ease-in-out;
				-ms-transition: background-color 0.35s ease-in-out;
				transition: background-color 0.35s ease-in-out;
				-webkit-backface-visibility: hidden;
			}

			.carousel .forward:after, .carousel .backward:after {
				content: '';
				width: 3em;
				height: 3em;
				position: absolute;
				top: 50%;
				margin: -1.5em 0 0 0;
				background: url("images/arrow.svg") no-repeat center center;
			}

			.carousel .forward:hover:before, .carousel .backward:hover:before {
				background-color: rgba(239, 131, 118, 0.75);
			}

		.carousel .forward {
			right: 0;
		}

			.carousel .forward:before {
				right: -3em;
			}

			.carousel .forward:after {
				right: -0.25em;
			}

		.carousel .backward {
			left: 0;
		}

			.carousel .backward:before {
				left: -3em;
			}

			.carousel .backward:after {
				left: -0.25em;
				-moz-transform: scaleX(-1);
				-webkit-transform: scaleX(-1);
				-ms-transform: scaleX(-1);
				transform: scaleX(-1);
			}

		.carousel .reel {
			white-space: nowrap;
			position: relative;
			-webkit-overflow-scrolling: touch;
			padding: 0 2em 0 2em;
		}

		.carousel article {
			display: inline-block;
			width: 18em;
			background: #fff;
			text-align: center;
			padding: 0 1em 3em 1em;
			margin: 0 2em 0 0;
			white-space: normal;
			opacity: 1.0;
			-moz-transition: opacity 0.75s ease-in-out;
			-webkit-transition: opacity 0.75s ease-in-out;
			-ms-transition: opacity 0.75s ease-in-out;
			transition: opacity 0.75s ease-in-out;
		}

			.carousel article.loading {
				opacity: 0;
			}

			.carousel article .image {
				position: relative;
				left: -1em;
				top: 0;
				width: auto;
				margin-right: -2em;
				margin-bottom: 3em;
			}

			.carousel article p {
				text-align: center;
			}

/* Wide */

	@media screen and (max-width: 1680px) {

		/* Basic */

/* 			body, input, textarea, select {
				font-size: 14pt;
				line-height: 1.75em;
			}
 */
		/* Carousel */

			.carousel {
				padding: 1.5em 0 1.5em 0;
			}

				.carousel .reel {
					padding: 0 1.5em 0 1.5em;
				}

				.carousel article {
					width: 18em;
					margin: 0 1.25em 0 0;
				}

	}

/* Normal */

	@media screen and (max-width: 1280px) {

		/* Basic */

			body, input, textarea, select {
				font-size: 12pt;
/* 				line-height: 1.5em; */
			}

		/* Wrapper */

			.wrapper {
				padding-left: 2em;
				padding-right: 2em;
			}

		/* Header */

			#header {
				background-attachment: scroll;
			}

				#header .inner {
					padding-left: 2em;
					padding-right: 2em;
				}

		/* Banner */

			#banner {
				padding-left: 2em;
				padding-right: 2em;
			}

		/* Footer */

			#footer {
				padding-left: 2em;
				padding-right: 2em;
			}

	}

/* Narrow */

/* Narrower */

	@media screen and (max-width: 840px) {

		/* Basic */

			body, input, textarea, select {
				font-size: 13pt;
/* 				line-height: 1.65em; */
			}

			.tweet {
				text-align: center;
			}

			.timestamp {
				display: block;
				text-align: center;
			}

		/* Footer */

			#footer {
				padding: 1em 2em 1em 2em;
			}

		/* Carousel */

			.carousel {
				padding: 1.25em 0 1.25em 0;
			}

				.carousel article {
					width: 18em;
					margin: 0 1em 0 0;
				}

	}

/* Mobile */

	#navPanel, #titleBar {
		display: none;
	}

	@media screen and (max-width: 736px) {

		/* Basic */

			html, body {
				overflow-x: hidden;
			}

			body, input, textarea, select {
				font-size: 12.5pt;
/* 				line-height: 1.5em; */
			}

			h2 {
				font-size: 1.0em;
			}

			h3 {
				font-size: 1.25em;
			}

			hr {
				top: 0.5em;
				margin-bottom: 2em;
			}

		/* Section/Article */

			section, article {
				margin-bottom: 0em;
			}

				section:last-child, article:last-child {
					margin-bottom: 0;
				}

			.row > section, .row > article {
				margin-bottom: 2em;
			}

			header > p {
				font-size: 1.25em;
			}

		/* Image */

			.image.featured {
				margin: 0 0 1.5em 0;
			}

			.image.left {
				margin: 0 1em 1em 0;
			}

			.image.centered {
				margin: 0 0 1em 0;
			}

		/* List */

			form ul.actions {
				margin-top: 0;
			}

			ul.actions li {
				display: block;
				margin: 0.75em 0 0 0;
			}

				ul.actions li:first-child {
					margin-top: 0;
				}

			ul.menu {
				height: auto;
				text-align: center;
			}

				ul.menu li {
					display: block;
					border: 0;
					padding: 0.75em 0 0 0;
					margin: 0;
				}

					ul.menu li:first-child {
						padding-top: 0;
					}

			ul.icons {
				font-size: 1em;
				padding: 0.35em 0.5em 0.35em 0.5em;
			}

				ul.icons li a {
					width: 2.25em;
				}

		/* Button */

			input[type="button"],
			input[type="submit"],
			input[type="reset"],
			button,
			.button {
				display: block;
				padding: 0;
				line-height: 3em;
				width: 100%;
			}

		/* Off-Canvas Navigation */

			#page-wrapper {
				-moz-backface-visibility: hidden;
				-webkit-backface-visibility: hidden;
				-ms-backface-visibility: hidden;
				backface-visibility: hidden;
				-moz-transition: -moz-transform 0.5s ease;
				-webkit-transition: -webkit-transform 0.5s ease;
				-ms-transition: -ms-transform 0.5s ease;
				transition: transform 0.5s ease;
				padding-bottom: 1px;
			}

			#navButton {
				-moz-backface-visibility: hidden;
				-webkit-backface-visibility: hidden;
				-ms-backface-visibility: hidden;
				backface-visibility: hidden;
				-moz-transition: -moz-transform 0.5s ease;
				-webkit-transition: -webkit-transform 0.5s ease;
				-ms-transition: -ms-transform 0.5s ease;
				transition: transform 0.5s ease;
				display: block;
				height: 44px;
				left: 0;
				position: fixed;
				top: 0;
				width: 100%;
				z-index: 10001;
			}

				#navButton .toggle {
					position: absolute;
					left: 0;
					top: 0;
					width: 100%;
					height: 100%;
					border: 0;
					outline: 0;
				}

					#navButton .toggle:before {
						font-family: FontAwesome;
						text-decoration: none;
						font-style: normal;
						font-weight: normal;
						-webkit-font-smoothing: antialiased;
						-moz-osx-font-smoothing: grayscale;
						content: '\f0c9';
						color: #fff;
						color: rgba(255, 255, 255, 0.75);
						text-align: center;
						display: block;
						font-size: 14px;
						width: 80px;
						height: 30px;
						line-height: 30px;
						position: absolute;
						left: 50%;
						margin-left: -40px;
						background: rgba(132, 128, 136, 0.75);
						border-top: 0;
						border-radius: 0 0 0.35em 0.35em;
					}

			#navPanel {
				-moz-backface-visibility: hidden;
				-webkit-backface-visibility: hidden;
				-ms-backface-visibility: hidden;
				backface-visibility: hidden;
				-moz-transform: translateY(-50vh);
				-webkit-transform: translateY(-50vh);
				-ms-transform: translateY(-50vh);
				transform: translateY(-50vh);
				-moz-transition: -moz-transform 0.5s ease;
				-webkit-transition: -webkit-transform 0.5s ease;
				-ms-transition: -ms-transform 0.5s ease;
				transition: transform 0.5s ease;
				display: block;
				height: 50vh;
				left: 0;
				overflow-y: auto;
				position: fixed;
				top: 0;
				width: 100%;
				z-index: 10002;
				box-shadow: inset 0px -2px 5px 0px rgba(0, 0, 0, 0.25);
				font-size: 1em;
			}

				#navPanel:before {
					content: '';
					display: block;
					position: absolute;
					left: 0;
					top: 0;
					width: 100%;
					height: 100%;
					background: url("images/overlay.png");
					background-size: 128px 128px;
				}

				#navPanel .link {
					position: relative;
					z-index: 1;
					display: block;
					text-decoration: none;
					padding: 0.5em;
					color: #ddd;
					border: 0;
					border-top: dotted 1px rgba(255, 255, 255, 0.05);
				}

					#navPanel .link:first-child {
						border-top: 0;
					}

					#navPanel .link.depth-0 {
						color: #fff;
						font-weight: 600;
					}

				#navPanel .indent-1 {
					display: inline-block;
					width: 1em;
				}

				#navPanel .indent-2 {
					display: inline-block;
					width: 2em;
				}

				#navPanel .indent-3 {
					display: inline-block;
					width: 3em;
				}

				#navPanel .indent-4 {
					display: inline-block;
					width: 4em;
				}

				#navPanel .indent-5 {
					display: inline-block;
					width: 5em;
				}

				#navPanel .depth-0 {
					color: #fff;
				}

			body.navPanel-visible #page-wrapper {
				-moz-transform: translateY(50vh);
				-webkit-transform: translateY(50vh);
				-ms-transform: translateY(50vh);
				transform: translateY(50vh);
			}

			body.navPanel-visible #navButton {
				-moz-transform: translateY(50vh);
				-webkit-transform: translateY(50vh);
				-ms-transform: translateY(50vh);
				transform: translateY(50vh);
			}

			body.navPanel-visible #navPanel {
				-moz-transform: translateY(0);
				-webkit-transform: translateY(0);
				-ms-transform: translateY(0);
				transform: translateY(0);
			}

		/* Wrapper */

			.wrapper {
				padding: 5em 1em 1em 1em;
			}

		/* Header */

			#header {
				background-attachment: scroll;
				padding: 1em 0 0 0;
			}

				#header .inner {
					padding-top: 5em;
					padding-left: 1em;
					padding-right: 1em;
				}

				#header header > p {
					font-size: 1em;
				}

				#header h1 {
					display:none;
					font-size: 5.4px;
					line-height: 2.0em;
				}

				#header hr {
					top: 1em;
					margin-bottom: 2.5em;
				}

			body.homepage #header {
				min-height: 0;
				padding: 5.5em 0 5em 0;
				height: auto;
			}

				body.homepage #header:before {
					display: none;
				}

				body.homepage #header h1 {
					font-size: 2.5em;
				}

		/* Nav */

/* 			#nav {
				display: none;
			}
 */
		/* Banner */

			#banner {
				padding: 3em 2em 3em 2em;
			}

		/* Sidebar */

			#sidebar > hr:first-of-type {
				display: block;
			}

		/* Main */

			#main > header {
				text-align: center;
			}

		/* Footer */

			#footer {
				padding-left: 1em;
				padding-right: 1em;
			}

		/* Carousel */

			.carousel {
				padding: 0.5em 0 0.5em 0;
			}

				.carousel .reel {
					padding: 0 0.5em 0 0.5em;
				}

				.carousel article {
					width: 14em;
					padding-bottom: 2em;
					margin: 0 0.5em 0 0;
				}

					.carousel article .image {
						margin-bottom: 2em;
					}

	}
	
h1.main-title{
    /* font-weight: 700; */
}
.site-name{
	font-weight: 700;
    color: #444;
    font-size: 2em;
    line-height: 1em;
}
.about-site{
	text-align:center;
	margin: 0.8em;
}
.site-name-sub{
    font-weight: 700;
    color: #444;
    font-size: 1em;
    line-height: 1em;
}
.sub-title{
    font-weight: 400;
    font-size: 0.55em;
}
.input-group-top{
    width: 420px;
}
.header-map{
    padding: 0 0 0 0 !important;
    height: 0px;
}
#container > nav > h1 > span{
    font-size: 1.5vw;
    font-weight: normal;
    margin: 0 0 0 0;
    line-height: 0.2vw; 
}
.image-about{
    line-height: 1.5em;	
    margin-top: 1em;
}
.image-about{
    line-height: 1.5em; 
    margin-top: 1em;
}
.select-fes{
	position: relative; 
    overflow: hidden;
}
.fes-image{
	width:100%;
	height:100%;
	-webkit-filter: brightness(75%);
    filter: brightness(75%);
    display: block;
}
#image-box{
	position:relative;
	text-align:center;
}
.fes-title-link{
    position: absolute;
    width:90%;
    bottom:20px;
    left:5%;
    font-size: 1.1em;
    line-height: 1.4em;
}
.fes-image-credit{
    position: absolute;
    width:90%;
    bottom:8px;
    left:5%;
    font-size: 0.2em;
    line-height: 0.5em;
    color:#FFF;
}
.fes-new{
    font-weight: bold;
    color: #ef8376;
    font-size: 1.5em;
    -webkit-animation:blink 0.375s ease-in-out infinite alternate;
    -moz-animation:blink 0.375s ease-in-out infinite alternate;
    animation:blink 0.375s ease-in-out infinite alternate;
}


.fes-image:hover{
    -webkit-filter: brightness(30%);
    filter: brightness(30%);
}
.image-anchor:hover{
    color: #FFF;
}

.image-anchor{
	vertical-align: middle;
    text-align: center;
    background: #fafafa;
    margin: 0px;
    display:block;
}
.menu-list{
    color: #444;
    font-size: 1.4em;
    text-align:center;
    font-weight: 500;    
}
.menu-list-year{
    color: #444;
    font-size: 1.8em;
    font-weight: 500;
    line-height: 1.0em;
    text-align:center;
	margin-top: 20px;
}
.years-content{
	margin: 10px 0 10px 0;
	width:100%;
	text-align: center;
}
.loading{
    margin: 10px 0 10px 0;
    width:100%;
    text-align: center;
    height: 500px;
}
#main > section > header > div > div > div{
	padding-top: 6px;
	padding-bottom: 0px;
    padding-right: 3px;
    padding-left: 3px;
    margin:0;
}
.detail-day{
    font-size: 0.8em;
    line-height: 1.0em;
}
.detail-stage{
    font-size: 0.8em;
    line-height: 1.0em;
}
.about-app{
}

button:hover{
    background: #FFF;	
}

.logo{
    float: left;
    padding-right: 10px;
}
.logo img{
    height:40px;
}

@media screen and (max-width: 1000px){
	.detail-day{
        font-size: 0.8em;
        line-height: 1.0em;
    }
    .detail-stage{
        font-size: 0.8em;
        line-height: 1.0em;
    }
	.relations{
        margin-top: 15px;
    }
	
    .fes-title { font-size: 1.2em;}
/*     #nav { display: none;} */
    .app_dowload{
        text-align:center;  
        padding: 1.7em 0 0 0;
        display:inherit;
    }
	.fes-name{
		font-size:1.2em;
	}

	#container > nav > h1 > span{
        font-size: 3.2vw;
        font-weight: normal;
        margin: 0 0 0 0; 
    }
    #nav {
        height:115px;
    }
    #nav > ul {
       width:100%;
    }
    #nav > ul > li {
       display:inherit;
       width:100%;
       margin:0 0 0 0;
       padding: 0.2em;
    }
    #menubar-top > form > div{
       width:100%;
    }
    .navbar-fixed-bottom div{
        color: #444;
    }
    .logo img{
        height:30px;
        margin: 5px 5px 5px 5px;
    }
    .logo{
        float: none;
        padding-right: 0px;
    }
    #menubar-top > form > div{
        width:90%;
        margin: 0 auto;
    }
    #header header {
        display: block;
    }
    .form-control {
        height: 35px;
        box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
        font-size: 14px;
    }
    .input-group-btn {
        height: 35px;
        width: 35px !important;
    }
    .input-group-btn>.btn {
        height: 35px;
        width: 35px !important;
    }
    .dropdown-menu {
        white-space: nowrap;
        width: 90%;
        z-index: 99999;
    }
    .search-fes {
        width: 40%;
    }
    .dropdown-menu>li {
        font-size:12px;
    }
    #subadd{
        position: absolute;
        right: 2%;
        top: 145px;
    }
    #lright-add{
        position: absolute;
        font-size: 1.1em;
        line-height:2.6em;
        left: 0;
        right: 0;
        margin: auto;
        width: 570px;
        bottom: 110px;
        box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.2);
        border-color:rgba(0, 85, 168, 0.8);
        padding-left:0.7em;
        padding-right:0.7em;
        background-color:rgba(11, 86, 167, 0.80);
        border-radius:5px;
        text-shadow: 2px 2px 1px rgba(0,0,0,0.5);
    }
    #lright-add:hover{
        background-color:rgba(11, 86, 167, 0.65);
        color:#FFF;
        cursor: pointer;
    }
    #lright-add a{
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        text-align:right;
        padding-right:0.7em;
        font-size: 0.8em;
    }
    
    .bread-crumb{
        left: 1%;
        top: 117px;
        position: absolute;
        background-color:rgba(256, 256, 256, 0.7);
        -ms-user-select: none;
        -webkit-user-select: none;
        -moz-user-select: none;           
    }
    .bread-crumb li.def {
        float:left;
        font-weight: 500;
        -ms-user-select: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        font-size:0.4em;
        line-height:3em;
        display: inline-block;
        vertical-align: middle;
    }
    .bread-crumb li.top {
        float:left;
        font-weight: 500;
        -ms-user-select: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        font-size:1.2em;
        line-height:1.2em;
        display: inline-block;
        vertical-align: middle;
    }
    
    .bread-crumb a{
        color:#444;
        -ms-user-select: none;
        -webkit-user-select: none;
        -moz-user-select: none;
    }
    
    #other-info{
        padding:1em;
        position: absolute;
        font-size: 0.9em;
        left: 0%;
        top: 130px;
    /* box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.2); */
/*     border: none; */
        text-align: center;
        background-color:rgba(256, 256, 256, 0.9);
    /* background-color:rgba(102, 102, 102, 0.7); */
    }
    #byday{
        color:#ef8376;
        font-size: 3.5em;
        font-weight: bold;
        margin: 0.3em;
        /* background-color:rgba(102, 102, 102, 0.9); */
        -webkit-animation:blink 0.375s ease-in-out infinite alternate;
        -moz-animation:blink 0.375s ease-in-out infinite alternate;
        animation:blink 0.375s ease-in-out infinite alternate;
    }
    .ticket{
        display:block;
        width:100%;
        font-size: 1.4em;
        line-height:1.4em;
        padding:0.6em;
        color: #FFF;
        padding-left:1.5em;
        padding-right:1.5em;
        back-graound:#ef8376;
        background-color:rgba(243, 152, 0, 0.90);
        border-radius:5px;
        text-shadow: 2px 2px 1px rgba(0,0,0,0.5);
    }
    
    .ticket:hover{
        opacity:1.0;
    }
    .fes-image:hover{
        opacity:1.0;
    }
	.global-icon{
		width: 30px;
		height: 30px;
	}
	.japan-icon{
		width: 30px;
		height: 30px;
	}
	h3.fes-info{
		font-size: 98%;
	}
}
@media screen and (max-width: 770px) {
    .fes-title-link{
        position: absolute;
        width:90%;
        bottom:35px;
        left:5%;
        font-size: 0.5em;
        line-height: 1.2em;
        font-weight: bold;
    }
    .fes-image-credit{
        position: absolute;
        width:90%;
        bottom:6px;
        left:5%;
        font-size: 7px;
        line-height: 0.9em;
        color:#FFF;
    }
	.logo{
		display:none;
	}
}

@media screen and (max-width: 736px) {
	#nav {
		height: 95px;
	}

	#subadd {
		position: absolute;
		right: 2%;
		top: 115px;
	}

	#lright-add {
		position: absolute;
		font-size: 0.75em;
		line-height: 2.4em;
		left: 0;
		right: 0;
		margin: auto;
		width: 350px;
		bottom: 80px;
		box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.2);
		border-color: rgba(0, 85, 168, 0.8);
		padding-left: 0.7em;
		padding-right: 0.7em;
		background-color: rgba(11, 86, 167, 0.80);
		border-radius: 5px;
		text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
	}

	#lright-add:hover {
		background-color: rgba(11, 86, 167, 0.65);
		color: #FFF;
		cursor: pointer;
	}

	#lright-add a {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		text-align: right;
		padding-right: 0.7em;
		font-size: 0.1em;
	}

	.bread-crumb {
		left: 1%;
		top: 117px;
		position: absolute;
		background-color: rgba(256, 256, 256, 0.7);
		-ms-user-select: none;
		-webkit-user-select: none;
		-moz-user-select: none;
	}

	.bread-crumb li.def {
		float: left;
		font-weight: 500;
		-ms-user-select: none;
		-webkit-user-select: none;
		-moz-user-select: none;
		font-size: 6px;
		line-height: 3em;
		display: inline-block;
		vertical-align: middle;
	}

	.bread-crumb li.top {
		float: left;
		font-weight: 500;
		-ms-user-select: none;
		-webkit-user-select: none;
		-moz-user-select: none;
		font-size: 1.0em;
		line-height: 1.2em;
		display: inline-block;
		vertical-align: middle;
	}

	.bread-crumb a {
		color: #444;
		-ms-user-select: none;
		-webkit-user-select: none;
		-moz-user-select: none;
	}

	#other-info {
		padding-top: 1em;
		padding-bottom: 1em;
		padding-left: 0;
		padding-right: 0;
		position: absolute;
		font-size: 0.5em;
		left: 0%;
		top: 130px;
		text-align: center;
		background-color: rgba(256, 256, 256, 0.9);
		-ms-user-select: none;
		-webkit-user-select: none;
		-moz-user-select: none;
	}

	#byday {
		color: #ef8376;
		font-size: 2.2em;
		font-weight: bold;
		margin: 0.3em;
		/* background-color:rgba(102, 102, 102, 0.9); */
		-webkit-animation: blink 0.375s ease-in-out infinite alternate;
		-moz-animation: blink 0.375s ease-in-out infinite alternate;
		animation: blink 0.375s ease-in-out infinite alternate;
	}

	.ticket {
		display: block;
		width: 100%;
		font-size: 1.4em;
		line-height: 1.4em;
		padding: 0.6em;
		color: #FFF;
		padding-left: 1.5em;
		padding-right: 1.5em;
		back-graound: #ef8376;
		background-color: rgba(243, 152, 0, 0.90);
		border-radius: 5px;
		text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
	}

	.ticket:hover {
		opacity: 1.0;
	}

	.fes-image:hover {
		opacity: 1.0;
	}

	.menu-list-year {
		color: #444;
		font-size: 1.5em;
		font-weight: 500;
		line-height: 1.5em;
		text-align: center;
		margin-bottom: 0px;
		margin-top: 10px;
	}

	.fes-title-link {
		position: absolute;
		width: 90%;
		bottom: 30px;
		left: 5%;
		font-size: 0.8em;
		line-height: 1.3em;
		font-weight: bold;
	}

	.fes-image-credit {
		position: absolute;
		width: 94%;
		bottom: 8px;
		left: 3%;
		line-height: 0.8em;
		color: #FFF;
	}

	.bread-crumb{
		display: none;
	}
}

/*pc以上の画面*/
@media only screen and (min-width: 1000px) {
    .app_dowload{
        text-align:center;  
        padding: 1.7em 0 0 0;
        display:none;
    }
	#mobile-logo-area{
		display:none;
	}
	.global-icon{
		width: 40px;
		height: 40px;
	}
	.japan-icon{
		width: 40px;
		height: 40px;
	}
	.fes-name{
		font-size:2.5em;
	}

	.artist-no-disp:hover span{
		opacity: 1;
		top: 0%;
		left: 100%;
		-webkit-transform: rotateX(0deg);
		transform: rotateX(0deg);
		z-index: 999;
	}

	.artist:hover span{
		opacity: 1;
		top: 0%;
		left: 100%;
		-webkit-transform: rotateX(0deg);
		transform: rotateX(0deg);
		z-index: 999;
	}

	.rel-artist:hover span{
		opacity: 1;
		top: 0%;
		left: 100%;
		-webkit-transform: rotateX(0deg);
		transform: rotateX(0deg);
		z-index: 999;
	}
	.first-date:hover{
		padding-left: 0.5em;
		padding-right: 0.5em;
		line-height:1.5em;
		font-size:1.0em;
		font-weight: 500;
		color:#dce0e0;
		text-decoration: underline;
	}

	.second-date:hover{
		padding-left: 0.5em;
		padding-right: 0.5em;
		line-height:1.5em;
		font-size:1.0em;
		font-weight: 500;
		color:#dce0e0;
		text-decoration: underline;
	}


	.navbar-fixed-bottom span.lang a.next-sel{
		color: rgba(128, 128, 128, 0.75);
		font-size: 1.2em;
		line-height: 1.5em;
		font-weight:500;
		border-left: 1px solid #dce0e0;
		padding-left: 1em;
	}
	.navbar-fixed-bottom span.lang a.first-sel{
		color: rgba(128, 128, 128, 0.75);
		font-size: 1.2em;
		line-height: 1.5em;
		font-weight:500;
		padding-right: 0.5em;
		padding-left: 0.5em;
	}
	.navbar-fixed-bottom span.lang a.next{
		color: #444;
		font-size: 1.2em;
		line-height: 1.5em;
		font-weight:500;
		border-left: 1px solid #dce0e0;
		padding-left: 1em;
		text-decoration: underline;
	}
	.navbar-fixed-bottom span.lang a.next:hover{
		color: #dce0e0;
		font-size: 1.2em;
		line-height: 1.5em;
		font-weight:500;
		border-left: 1px solid #dce0e0;
		padding-left: 1em;
	}
	.navbar-fixed-bottom span.lang a.first{
		color: #444;
		font-size: 1.2em;
		line-height: 1.5em;
		font-weight:500;
		padding-right: 0.5em;
		padding-left: 0.5em;
		text-decoration: underline;
	}
	.navbar-fixed-bottom span.lang a.first:hover{
		color: #444;
		font-size: 1.2em;
		line-height: 1.5em;
		font-weight:500;
		padding-right: 0.5em;
		padding-left: 0.5em;
		color:#dce0e0;
	}

	.guide-exp{
		margin: 10px;
		font-weight: 600;
		font-size: 20px;
	}
	#about-map{
		position: absolute;
		left: 2%;
		bottom: 130px;
		cursor : pointer;
	}
	#open-map{
		position: absolute;
		text-align: center;
		bottom: 2px;
		width: 100px;
		font-size: 100%;
		padding: 5px;
	}
	#open-map-image{
		position: relative;
		width: 100px;
		height: 100px;
		box-shadow: 0 1px 3px #999;
		border: 1px solid #919191;
		border-radius: 4px;
		background: #fff;
		vertical-align: middle;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		box-shadow: 2px 2px 6px 4px rgba(0, 0, 0, 0.3);
	}
}
.download-itunes{
}
.ticket-info{
    margin:0.5em;
}
.artist{
	position:absolute;
	color: #444;
	background: rgba(255, 255, 255, 0.5);
	/*word-break: break-all;*/
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}
.artist:hover{
    color:  rgba(68, 68, 68, 0.3);
}
.artist:focus{
	position:absolute;
    color: #444;
    outline: none;
}

.artist-no-disp{
	position:absolute;
    color: rgba(68, 68, 68, 0.5);
    position:absolute;
    background: rgba(255, 255, 255, 0.5);
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}
div.main-nav > h1{
        -ms-user-select: none;
        -webkit-user-select: none;
        -moz-user-select: none;
}
.#nav > ul > li > header > div.main-nav > h1{
    padding:5px !importan;
    font-size:8px !importan;
}
.similar-list-mob{
    position: absolute;
    padding-left: 7px;
    padding-right: 7px;
    margin:0 auto;
    font-size:11px;
    font-weight:400;
    line-height:1em;
}
.exp_click-mob{
    bottom: 20%;
    left: 75%;
    position: absolute;
    font-size:10px;
    font-weight:600;
    line-height:1em;
    padding: 0.5em;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-shadow: 2px 2px 1px rgba(0,0,0,0.2);     
}
.info-mob{
	padding-top: 5px;
	padding-bottom: 5px;
	min-height: 100px;
}
.mobile-main-logo{
	margin-right: 5px;
}
.row {
	margin:0;
}
a.language{
	font-size: 1.2em;
	font-weight:400;
	line-height:2.0em;
	padding-right: 1.25em;
	color: #fff
}
a.language-right{
	font-size: 1.2em;
	font-weight:400;
	line-height:2.0em;
	border-left: solid 1px rgba(128, 128, 128, 0.2);
	padding-left: 1.5em;
	color: #fff
}
a.language-sel{
	font-size: 1.2em;
	font-weight:400;
	line-height:2.0em;
	padding-right: 1.0em;
	color: rgba(128, 128, 128, 0.75);
}
a.language-right-sel{
	font-size: 1.2em;
	font-weight:400;
	line-height:2.0em;
	border-left: solid 1px rgba(128, 128, 128, 0.2);
	padding-left: 1.0em;
	color: rgba(128, 128, 128, 0.75);
}

.artist-sp{
	position: absolute;
	opacity: 0;
	top: -40px;
	left: -20px;
	width: 240px;
	padding: 5px;
	border-color: rgba(68, 68, 68, 0.3);
	border-style: solid;
	border-width: 1px;
	border-radius: 2px;
	background: rgba(255, 255, 255, 0.9);
	color: #444;
	font-size: 12px;
	line-height: 1.6em;
	transition: .3s;
	-webkit-transform: rotateX(-90deg);
	transform: rotateX(90deg);
	z-index: 0;
}
.artist{
	transition: .3s;
}

.pop-time{
	font-weight: 400 !important;
	margin-right: 5px;
}
.pop-stage{
	font-weight: 400 !important;
	margin-right: 5px;
}
.pop-genre{
	font-size: 12px;
	margin-left: 2px;
	margin-right: 2px;
	padding: 2px 5px 2px 5px;
	background-color: #dce0e0;
	border-radius: 5px;
	font-weight: 400 !important;
    white-space: nowrap;
}
.rel-artist-sp{
	position: absolute;
	opacity: 0;
	top: -40px;
	left: -20px;
	width: 240px;
	padding: 5px;
	border-color: rgba(68, 68, 68, 0.3);
	border-style: solid;
	border-width: 1px;
	border-radius: 2px;
	background: rgba(255, 255, 255, 0.9);
	color: #444;
	font-size: 12px;
	line-height: 1.6em;
	transition: .3s;
	-webkit-transform: rotateX(-90deg);
	transform: rotateX(90deg);
	z-index: 0;
}

.rel-artist{
	transition: .3s;
	z-index: 1;
}
.modal.fade .modal-dialog

{
	-moz-transition: none !important;
	-o-transition: none !important;
	-webkit-transition: none !important;
	transition: none !important;

	-moz-transform: none !important;
	-ms-transform: none !important;
	-o-transform: none !important;
	-webkit-transform: none !important;
	transform: none !important;
}

.first-date{
	padding-left: 0.5em;
	padding-right: 0.5em;
	line-height:1.5em;
	font-size:1.2em;
	font-weight: 500;
	text-decoration: underline;
	color:#444;
}
.first-date-no-select{
	padding-left: 0.5em;
	padding-right: 0.5em;
	line-height:1.5em;
	font-size:1.2em;
	font-weight: 500;
	color: rgba(128, 128, 128, 0.75);
}

.first-date-no-select:hover{
	color: rgba(128, 128, 128, 0.75);
}
.second-date{
	color:#444;
	border-left: 1px solid #dce0e0;
	padding-left: 0.5em;
	padding-right: 0.5em;
	line-height:1.5em;
	font-size:1.2em;
	font-weight: 500;
	text-decoration: underline;
}
.second-date-no-select{
	border-left: 1px solid #dce0e0;
	padding-left: 0.5em;
	padding-right: 0.5em;
	line-height:1.5em;
	font-size:1.2em;
	font-weight: 500;
	color: rgba(128, 128, 128, 0.75);
}
.second-date-no-select:hover{
	color: rgba(128, 128, 128, 0.75);
}

.first-date:hover{
	padding-left: 0.5em;
	padding-right: 0.5em;
	line-height:1.5em;
	font-size:1.2em;
	font-weight: 500;
	color:rgba(128, 128, 128, 0.75);
	text-decoration: underline;
}

.second-date:hover{
	padding-left: 0.5em;
	padding-right: 0.5em;
	line-height:1.5em;
	font-size:1.2em;
	font-weight: 500;
	color:rgba(128, 128, 128, 0.75);
	text-decoration: underline;
}

/*pc 以下の画面*/
@media screen and (max-width: 1000px){
	.first-date{
		padding-left: 0.5em;
		padding-right: 0.5em;
		line-height:1.5em;
		font-size:1.0em;
		font-weight: 500;
		text-decoration: underline;
		color:#444;
	}
	.first-date-no-select{
		padding-left: 0.5em;
		padding-right: 0.5em;
		line-height:1.5em;
		font-size:1.0em;
		font-weight: 500;
		color: rgba(128, 128, 128, 0.75);
	}

	.first-date-no-select:hover{
		color: rgba(128, 128, 128, 0.75);
	}
	.second-date{
		color:#444;
		border-left: 1px solid #dce0e0;
		padding-left: 0.5em;
		padding-right: 0.5em;
		line-height:1.5em;
		font-size:1.0em;
		font-weight: 500;
		text-decoration: underline;
	}
	.second-date-no-select{
		border-left: 1px solid #dce0e0;
		padding-left: 0.5em;
		padding-right: 0.5em;
		line-height:1.5em;
		font-size:1.0em;
		font-weight: 500;
		color: rgba(128, 128, 128, 0.75);
	}
	.second-date-no-select:hover{
		color: rgba(128, 128, 128, 0.75);
	}

	.first-date:hover{
		padding-left: 0.5em;
		padding-right: 0.5em;
		line-height:1.5em;
		font-size:1.0em;
		font-weight: 500;
		color:#444;
		text-decoration: underline;
	}

	.second-date:hover{
		padding-left: 0.5em;
		padding-right: 0.5em;
		line-height:1.5em;
		font-size:1.0em;
		font-weight: 500;
		color:#444;
		text-decoration: underline;
	}

	.guide-exp{
		margin: 5px;
		font-weight: 600;
		font-size: 18px;
	}

	#about-map{
		position: absolute;
		left: 2%;
		bottom: 120px;
		cursor : pointer;
	}
	#open-map{
		position: absolute;
		text-align: center;
		bottom: 2px;
		width: 70px;
		font-size: 100%;
		padding: 5px;
	}
	#open-map-image{
		position: relative;
		width: 70px;
		height: 70px;
		box-shadow: 0 1px 3px #999;
		border: 1px solid #919191;
		border-radius: 4px;
		background: #fff;
		vertical-align: middle;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		box-shadow: 2px 2px 6px 4px rgba(0, 0, 0, 0.3);
	}

}
.album-list{
	margin:8px;
}
.album-jacket{
	float: left;
}
.jacket-images{
	width: 170px;
	height: 170px;
}
.album-music-list{
	width: 810px;
	float: left;
	margin-left:8px;
	margin-bottom:8px;
}
#music-list-table{
	margin: 0px 50px 0px 50px;
	font-size:12px;
	width: 710px;
}
.album-exp{
	font-size:18px;
	margin-top:0px;
	font-weight: bold;
}
.album-exp-sub{
	font-size:15px;
	margin-top:5px;
	margin-bottom:30px;
	font-weight: 400;
}
.jacket-list{
margin-top:3px;
}
.jacket-list:before,
.jacket-list:after {
	content: "";
	display: table;
}

.jacket-list:after {
	clear: both;
}
#music-list-table tbody tr:hover{
	background-color: #dce0e0;
	border-collapse:separate;
	border-left:1px solid #ddd;
	border-right:1px solid #ddd;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
}
#music-list-table tbody tr td{
	padding: 6px;
}
#music-list-table tbody tr th{
	padding: 6px;
	width: 30px;
	text-align:right;
}
#music-list-table tbody tr td a{
	color:#298cda;
}
#music-list-table tbody tr td a:hover{
	color:#298cda;
    text-decoration: underline;
}
#music-list-table tbody td:nth-child(2){
	width: 30px;
}
#music-list-table tbody td:nth-child(3){
	width: 500px;
}

#music-list-table tbody tr td.attention-track{
	color:#298cda;
	font-weight: 600;
}
h2.about-album{
	font-size: 13px;
	margin-top:5px;
	margin-bottom:5px;
	font-weight: bold;
}
.album-title{
	font-size: 13px;
	margin-top: 5px;
	margin-bottom: 5px;
	font-weight:bold;
}
.album-title a:hover{
	color:#298cda;
}
.album-info-first{
	margin-top: 20px;
}
.album-info-last{
	margin-top: 20px;
}
.album-info{
	margin-top: 30px;
}
.album-block{
	margin-top: 10px;
}
.artist-search-link a{
	color:#298cda;
	font-size: 13px;
}
.artist-search-link{
	padding-bottom: 15px;
}

#music-list-table-mob{
	margin: 0px 0px 0px 0px;
	font-size:12px;
	width: 100%;
	table-layout: fixed;
}
music-list-table-mob tbody tr td{
	padding: 6px;
}
#music-list-table-mob tbody tr th{
	padding-left: 6px;
	padding-right: 6px;
	float: right;
}
#music-list-table-mob tbody tr td a{
	color:#298cda;
}
.track-title{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	display: table-cell
}

#music-list-table-mob tbody tr td.attention-track{
	color:#298cda;
	font-weight: 600;
}
.album-music-list-mob{
	margin-bottom:8px;
}
.album-exp-mob{
	font-size:14px;
	margin-top:0px;
	font-weight: bold;
}
.album-exp-sub-mob{
	font-size:13px;
	margin-top:1px;
	margin-bottom:5px;
	font-weight: 400;
}

.artist-search-link-mob a{
	color:#298cda;
	font-size: 13px;
}
.artist-search-link-mob{
	padding-bottom: 12px;
}

.album-info-mob{
	margin-top: 10px;
}
.album-info-mob-first{
	margin-top: 10px;
}
.album-info-mob-last{
	margin-top: 0px;
}
.th-zero{
	width: 18px;
}
.th-first{
	width: 18px;
}
.th-scond{
	width: 52%;
}
.th-third{
	width: 30%;
}
#circle{;
	width:60px;
	height:60px;
	border-radius: 50%;
	background-color: #fff;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

/*ここから下の部分を追加*/
#circle a{
	display: table-cell;
	color: #444;
	width:54px;
	font-weight:600;
	font-size:11px;
	text-overflow: ellipsis;
	white-space: normal;
	word-wrap: break-word;
	overflow-wrap: break-word !important;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	overflow: hidden;
	padding-left: 3px;
	padding-right: 3px;
}
.line-guide{
	margin: auto;
	margin-top: 5px;
	margin-bottom: 5px;
	display:table;
}
.line-genre{
	max-width:120px;
	font-size: 13px;
	white-space: nowrap;
	margin-bottom: 0px;
	display: table-cell;
}

.about-genre{
	position: relative;
	display: table-cell;
	max-width: 120px;
	text-overflow: ellipsis;
	word-wrap: break-word;
	overflow-wrap: break-word !important;
	overflow: hidden;
	font-weight: 600;
	top:13px;
}

.line-list {
	display: inline-block;
	max-width: 120px;
	height: 60px;
}
.genre-line{
	vertical-align: middle;
	top:13px;
	margin: 0px;
}
.genre-line:before, .genre-line:after {
	width:0px;
}

.release-date{
    padding-top:6px;
	font-size:13px;
	font-weight: 400;
}

.now-playing{
	width: 17px;
	height: 17px;
	vertical-align: middle;
	-webkit-animation:blink 1.1s ease-in-out infinite alternate;
	-moz-animation:blink 1.1s ease-in-out infinite alternate;
	animation:blink 1.1s ease-in-out infinite alternate;

}
@-webkit-keyframes blink{
0% {opacity:0;}
100% {opacity:1;}
}
@-moz-keyframes blink{
0% {opacity:0;}
100% {opacity:1;}
}
@keyframes blink {
	60% {
		opacity: 0;
	}
}
.close{
	font-size: 50px;
	opacity: 0.7;
	width: 57px !important;
	vertical-align: middle;
	font-weight: 600;
}
.fes-out-link{
	color: #444;
}
.fes-out-link:hover{
	color: #444;
}
.fes-out-link:link{
	color: #444;
}
.fes-out-link:visited{
	color: #444;
}
.fes-out-link:hover{
	color: #444;
}
.fes-out-link:active{
	color: #444;
}

