@CHARSET "ISO-8859-1";
/* Reset CSS
 * --------------------------------------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td
    {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    cursor: pointer;
}

table {
    border-spacing: 0;
}

fieldset,img {
    border: 0;
}

address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}

strong {
    font-weight: bold;
}

ol,ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

caption,th {
    text-align: left;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;
    margin: 0;
    padding: 0;
    color: #444;
}

q:before,q:after {
    content: '';
}

abbr,acronym {
    border: 0;
}

/* Custom CSS
 * --------------------------------------- */
/* body {
    font-family: arial, helvetica;
    color: #333;
    color: rgba(0, 0, 0, 0.5);
    height: 100%;
}
 */
.wrap {
    margin-left: auto;
    margin-right: auto;
    width: 960px;
    position: relative;
}

h1 {
    font-size: 3.4em;
}

p {
    font-size: 2em;
}

.intro p {
    width: 50%;
    margin: 0 auto;
    font-size: 1.5em;
}

.section {
    text-align: center;
}

#menu li {
    display: inline-block;
    margin: 10px;
    color: #000;
    background: rgba(255, 255, 255, 0.5);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

#menu li.active {
    background: #666;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
}

#menu li a {
    text-decoration: none;
    color: #000;
}

#menu li.active a:hover {
    color: #000;
}

#menu li:hover {
    background: rgba(255, 255, 255, 0.8);
}

#menu li a,#menu li.active a {
    padding: 9px 18px;
    display: block;
}

#menu li.active a {
    color: #fff;
}

#menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 40px;
    z-index: 70;
    width: 100%;
    padding: 0;
    margin: 0;
}

.twitter-share-button {
    position: fixed;
    z-index: 99;
    right: 149px;
    top: 9px;
}

#download {
    margin: 10px 0 0 0;
    padding: 15px 10px;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #49afcd;
    background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
    background-image: -ms-linear-gradient(top, #5bc0de, #2f96b4);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de),
        to(#2f96b4));
    background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
    background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
    background-image: linear-gradient(top, #5bc0de, #2f96b4);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5bc0de',
        endColorstr='#2f96b4', GradientType=0);
    border-color: #2f96b4 #2f96b4 #1f6377;
    border-color: rgba(0, 0, 0, .1) rgba(0, 0, 0, .1) rgba(0, 0, 0, .25);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    vertical-align: middle;
    display: inline-block;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px
        rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px
        rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px
        rgba(0, 0, 0, 0.05);
}

#download a {
    text-decoration: none;
    color: #fff;
}

#download:hover {
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .25);
    background-color: #2F96B4;
    background-position: 0 -15px;
    -webkit-transition: background-position .1s linear;
    -moz-transition: background-position .1s linear;
    -ms-transition: background-position .1s linear;
    -o-transition: background-position .1s linear;
    transition: background-position .1s linear;
}

#infoMenu {
    height: 20px;
    color: #f2f2f2;
    position: fixed;
    z-index: 70;
    bottom: 0;
    width: 100%;
    text-align: right;
    font-size: 0.9em;
    padding: 8px 0 8px 0;
}

#infoMenu ul {
    padding: 0 40px;
}

#infoMenu li a {
    display: block;
    margin: 0 22px 0 0;
    color: #333;
}

#infoMenu li a:hover {
    text-decoration: underline;
}

#infoMenu li {
    display: inline-block;
    position: relative;
}

#examplesList {
    display: none;
    background: #282828;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    padding: 20px;
    float: left;
    position: absolute;
    bottom: 29px;
    right: 0;
    width: 638px;
    text-align: left;
}

#examplesList ul {
    padding: 0;
}

#examplesList ul li {
    display: block;
    margin: 5px 0;
}

#examplesList ul li a {
    color: #BDBDBD;
    margin: 0;
}

#examplesList ul li a:hover {
    color: #f2f2f2;
}

#examplesList .column {
    float: left;
    margin: 0 20px 0 0;
}

#examplesList h3 {
    color: #f2f2f2;
    font-size: 1.2em;
    margin: 0 0 15px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
    padding: 0 0 5px 0;
}

/* Demos Menu
 * --------------------------------------- */
#demosMenu {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 999;
}
a#under {
    padding-top: 90px;
}
a#under span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 40px;
    height: 40px;
    margin-left: -20px;
    border-left: 3px solid #222831;
    border-bottom: 3px solid #222831;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb05 1.5s infinite;
    animation: sdb05 1.5s infinite;
    box-sizing: border-box;
}
@-webkit-keyframes sdb05 {
    0% {
        -webkit-transform: rotate(-45deg) translate(0, 0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        -webkit-transform: rotate(-45deg) translate(-20px, 20px);
        opacity: 0;
    }
}
@keyframes sdb05 {
    0% {
        transform: rotate(-45deg) translate(0, 0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: rotate(-45deg) translate(-20px, 20px);
        opacity: 0;
    }
}

a#under {
    position: absolute;
    margin-left: -60px;
    bottom: -25px;
    left: 50%;
    z-index: 2;
    display: inline-block;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    color: #222831;
    font : normal 400 20px/1 'Josefin Sans', sans-serif;
    letter-spacing: .1em;
    text-decoration: none;
    transition: opacity .3s;
}
a#under:hover {
    opacity: .5;
}






a#under-white {
    padding-top: 90px;
}
a#under-white span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 40px;
    height: 40px;
    margin-left: -20px;
    border-left: 3px solid #FFFFFF;
    border-bottom: 3px solid #FFFFFF;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb05 1.5s infinite;
    animation: sdb05 1.5s infinite;
    box-sizing: border-box;
}

a#under-white {
    position: absolute;
    margin-left: -60px;
    bottom: -25px;
    left: 50%;
    z-index: 2;
    display: inline-block;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    color: #FFFFFF;
    font : normal 400 20px/1 'Josefin Sans', sans-serif;
    letter-spacing: .1em;
    text-decoration: none;
    transition: opacity .3s;
}
a#under-white:hover {
    opacity: .5;
}


a#over-white {
    padding-top: -90px;
}
a#over-white span {
    position: absolute;
    top: -30px;
    left: 50%;
    width: 40px;
    height: 40px;
    margin-left: -20px;
    border-left: 3px solid #FFFFFF;
    border-bottom: 3px solid #FFFFFF;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    -webkit-animation: sdb06 1.5s infinite;
    animation: sdb06 1.5s infinite;
    box-sizing: border-box;
}
@-webkit-keyframes sdb06 {
    0% {
        -webkit-transform: rotate(135deg) translate(0, 0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        -webkit-transform: rotate(135deg) translate(-20px, 20px);
        opacity: 0;
    }
}
@keyframes sdb06 {
    0% {
        transform: rotate(135deg) translate(0, 0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: rotate(135deg) translate(-20px, 20px);
        opacity: 0;
    }
}

a#over-white {
    position: absolute;
    margin-left: -60px;
    top: 100px;
    left: 50%;
    z-index: 2;
    display: inline-block;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    color: #FFFFFF;
    font : normal 400 20px/1 'Josefin Sans', sans-serif;
    letter-spacing: .1em;
    text-decoration: none;
    transition: opacity .3s;
}
a#under-white:hover {
    opacity: .5;
}






.intro img{
    margin-top: 10px;
    margin-bottom: 10px;
    vertical-align: middle;/*IE7*/
}

h1.festival-name {
    margin-top: 20px;
    font-size: 3.0em;
    font-weight: bold;
    color: #FFFFFF;
}
.operation{
    /*  margin-bottom: 120px;*/
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 120px;
    width: 210px;
    font-size: 0.9em;
}
.parent{
    display: inline-block;
}

h2 {
    font-size: 1.4em;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 20px;
}

.intro p {
    font-size: 1.2em;
    width: 95%;
}

a.image-description{
    font-size: 0.5em;
    color: #FFFFFF;
}

div.map-link{
    margin-top: 50px;
    
}
div.map-link a{
    font-size: 1.4em;
    color: #FFFFFF;
    margin: 20px;
    padding: 15px 20px 15px 20px;
    background-color: rgba(238,238,238,0.4);
    width: 200px;
}

div.map-link:hover {
    opacity: .5;
}

body {
  /* font : normal 400 20px/1 'Josefin Sans', sans-serif;
   */
  font: arial, helvetica;
   /* Ã§ÂÂ»Ã¥ÂÂÃ£ÂÂÃ¥Â¸Â¸Ã£ÂÂ«Ã¥Â¤Â©Ã¥ÂÂ°Ã¥Â·Â¦Ã¥ÂÂ³Ã£ÂÂ®Ã¤Â¸Â­Ã¥Â¤Â®Ã£ÂÂ«Ã©ÂÂÃ§Â½Â® */
  background-position: center center;   
  /* Ã§ÂÂ»Ã¥ÂÂÃ£ÂÂÃ£ÂÂ¿Ã£ÂÂ¤Ã£ÂÂ«Ã§ÂÂ¶Ã£ÂÂ«Ã§Â¹Â°Ã£ÂÂÃ¨Â¿ÂÃ£ÂÂÃ¨Â¡Â¨Ã§Â¤ÂºÃ£ÂÂÃ£ÂÂªÃ£ÂÂ */
  background-repeat: no-repeat;
   
  /* Ã£ÂÂ³Ã£ÂÂ³Ã£ÂÂÃ£ÂÂ³Ã£ÂÂÃ£ÂÂ®Ã©Â«ÂÃ£ÂÂÃ£ÂÂÃ§ÂÂ»Ã¥ÂÂÃ£ÂÂ®Ã©Â«ÂÃ£ÂÂÃ£ÂÂÃ£ÂÂÃ¥Â¤Â§Ã£ÂÂÃ£ÂÂÃ¦ÂÂÃ£ÂÂÃ¥ÂÂÃ£ÂÂÃ£ÂÂªÃ£ÂÂÃ£ÂÂÃ£ÂÂÃ£ÂÂ«Ã¥ÂÂºÃ¥Â®Â */
  background-attachment: fixed;
   
  /* Ã¨Â¡Â¨Ã§Â¤ÂºÃ£ÂÂÃ£ÂÂÃ£ÂÂ³Ã£ÂÂ³Ã£ÂÂÃ£ÂÂÃ£ÂÂ®Ã¥Â¤Â§Ã£ÂÂÃ£ÂÂÃ£ÂÂ«Ã¥ÂÂºÃ£ÂÂ¥Ã£ÂÂÃ£ÂÂ¦Ã£ÂÂÃ¨ÂÂÃ¦ÂÂ¯Ã§ÂÂ»Ã¥ÂÂÃ£ÂÂÃ¨ÂªÂ¿Ã¦ÂÂ´ */
  background-size: cover;
}

* html body{  
    overflow: auto;
}

.navbar-fixed-bottom{
    background: #FFFFFF;
    font-weight: bold;
    border: solid 1px;
    border-color:#dce0e0;
    height: 69px;
    width: 100%;
    display: table;
}

#footer {
    position: absolute;
    bottom: 0;
    display: table;
    width: 100%;
    height: 15%;
    background: #FFFFFF;
    font-weight: bold;
    box-shadow: 10px 10px 25px 15px rgba(0, 0, 0, 0.5);
    border:0px solid #000;
}

.navbar-fixed-bottom div{
    display:table-cell;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    color: #444;
    position: relative;
}
.navbar-fixed-bottom span.lang{
    margin: 5px;
}
.navbar-fixed-bottom span.lang-select{
    font-weight: 400;
    font-size: 0.8em;
}
.navbar-fixed-bottom span.lang a.next-sel{
    color: rgba(128, 128, 128, 0.75);
    font-size: 1.0em;
    line-height: 1.5em;
    font-weight:500;
    border-left: 1px solid #dce0e0;
    padding-left: 1em;
}
.navbar-fixed-bottom span.lang a.first-sel{
    color: rgba(128, 128, 128, 0.75);
    font-size: 1.0em;
    line-height: 1.5em;
    font-weight:500;
    padding-right: 0.5em;
    padding-left: 0.5em;
}
.navbar-fixed-bottom span.lang a.next{
    color: #444;
    font-size: 1.0em;
    line-height: 1.5em;
    font-weight:500;
    border-left: 1px solid #dce0e0;
    padding-left: 1em;
    text-decoration: underline;
}
.navbar-fixed-bottom span.lang a.next:hover{
    color: #dce0e0;
    font-size: 1.0em;
    line-height: 1.5em;
    font-weight:500;
    border-left: 1px solid #dce0e0;
    padding-left: 1em;
}
.navbar-fixed-bottom span.lang a.first{
    color: #444;
    font-size: 1.0em;
    line-height: 1.5em;
    font-weight:500;
    padding-right: 0.5em;
    padding-left: 0.5em;
    text-decoration: underline;
}
.navbar-fixed-bottom span.lang a.first:hover{
    color: #444;
    font-size: 1.0em;
    line-height: 1.5em;
    font-weight:500;
    padding-right: 0.5em;
    padding-left: 0.5em;
    color:#dce0e0;
}

.navbar-fixed-bottom{
	text-align: center;
}
.navbar-fixed-bottom h1{
    position: absolute;
    display:table-cell;
    text-align: center;
}
.byday{
	vertical-align: middle;
	margin: 0 auto;
}
#container {
}
#inner {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    -webkit-overflow-scrolling: touch;
    position: absolute;
    overflow:hidden;
}
#map {
    margin: 0;
    padding: 0;
    -webkit-overflow-scrolling: touch;
}

#menubar{
    position: absolute;
    left: 5px;
    top: 15px;
    height: 40px;
    box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.2);
}
#linesel{
    position: absolute;
    left: 10px;
    top: 80px;
    width: 200px;
    /* box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.2); */
    border: solid 1px;
    border-color:#dce0e0;
    background-color: rgba( 255, 255, 255, 0.95);
}
#lright-add{
	color:#FFF;
    position: absolute;
    font-size: 1.4em;
    line-height:2.8em;
    right: 1%;
    bottom: 17%;
    box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.2); */
/*     border: solid 1px; */
    border-color:rgba(0, 85, 168, 0.8);
    padding-left:1.5em;
    padding-right:5em;
    background-color:rgba(11, 86, 167, 0.80);
    border-radius:5px;
    text-shadow: 2px 2px 1px rgba(0,0,0,0.5);
}
#lright-add a{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    text-align:right;
    padding-right:4em;
    font-size: 0.25em;
}

#lright-add:hover{
	background-color:rgba(11, 86, 167, 0.65);
	color:#FFF;
    cursor: pointer;
}
#lright-add a{
    color:#FFF;
}

.bread-crumb{
    left: 1%;
    top: 130px;
    position: absolute;
    background-color:rgba(256, 256, 256, 0.7);
    font-size:0.9em;
    line-height:2em;
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}
.bread-crumb li {
	float:left;
	font-weight: 500;
	-ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;    
    display: inline-block;
    vertical-align: middle;
}
.bread-crumb a{
	color:#444;
	-ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

/* .main-nav {
    left: 1%;
    top: 100px;
    position: absolute;
    background-color: rgba(256, 256, 256, 0.9);
    padding: 5px;
}
 */
#other-info{
	margin:0.5em;
	padding:0.5em;
    position: absolute;
    font-size: 1.1em;
    left: 0%;
    top: 145px;
    /* box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.2); */
/*     border: none; */
    font-family: Meiryo, "メイリオ", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", Verdana, Osaka, "MS P Gothic", "ＭＳ Ｐゴシック", sans-serif;
    text-align: center;
    background-color:rgba(256, 256, 256, 0.9);
    /* background-color:rgba(102, 102, 102, 0.7); */
}
#byday{
	color:#ef8376;
	font-size: 3.5em;
	font-weight: bold;
	margin: 0.3em;
    /* background-color:rgba(102, 102, 102, 0.9); */
    -webkit-animation:blink 0.375s ease-in-out infinite alternate;
    -moz-animation:blink 0.375s ease-in-out infinite alternate;
    animation:blink 0.375s ease-in-out infinite alternate;
}
.ticket{
	display:block;
    width:100%;
	font-size: 1.2em;
    line-height:1.5em;
	padding:0.6em;
	color: #FFF;
	padding-left:1.5em;
    padding-right:1.5em;
    back-graound:#ef8376;
    background-color:rgba(243, 152, 0, 0.90);
    border-radius:5px;
    text-shadow: 2px 2px 1px rgba(0,0,0,0.5);
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;        
}
.ticket:hover{
    color: #FFF;
    background-color:rgba(243, 152, 0, 0.60);
}
@-webkit-keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}
@-moz-keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}
@keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}
 .input-group-btn:last-child>.btn{
    margin-left: 0px !important;
    border-radius: 0px !important;
}
.input-group-btn{
    height: 40px;
    width: 40px !important;
}
.input-group-btn>.btn{
    width: 40px;
    height: 40px;
}
.form-control{
    height: 40px;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
    font-size: 16px;
}
.input-group{
    width: 360px;
}
.btn btn-default{
    height: 40px;
}
.navbar-form {
    padding: 0px 0px;
    margin-top: 0px;
}

#subadd{
    position: absolute;
    right: 2%;
    top: 150px;
}

#filter{
    color:#FFF;
    position: absolute;
    right: 2%;
    top: 150px;
}
#filter-link{
    color:#444;
    font-weight: 800;
    font-size: 20px;
    vertical-align: middle;
    padding-left: 20px;
}
#transfer-guide{
    background: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 10px;
}

#add-wrapper{
    display:table-cell;
    width: 40px;
    height: 43px;
    box-shadow: 0 1px 3px #999;
    border: 1px solid #919191;
    border-radius: 4px;
    background: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-shadow: 2px 2px 6px 4px rgba(0, 0, 0, 0.3);
}
#add {
    font-family: icomoon;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 1;
    text-transform: none;
    speak: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 1.2em;
}
#add-wrapper{
    display:table-cell;
    width: 40px;
    height: 43px;
    box-shadow: 0 1px 3px #999;
    border: 1px solid #919191;
    border-radius: 4px;
    background: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-shadow: 2px 2px 6px 4px rgba(0, 0, 0, 0.3);
}
#sub {
    font-family: icomoon;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 1;
    text-transform: none;
    speak: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 1.2em;
}
#sub-wrapper{
    display:table-cell;
    width: 40px;
    height: 43px;
    box-shadow: 0 1px 3px #999;
    border: 1px solid #919191;
    border-radius: 4px;
    background: #fff;
    text-align: center;
    vertical-align: middle;
    opacity: .9;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-shadow: 2px 2px 6px 4px rgba(0, 0, 0, 0.3);
}
.clickable {
    cursor: pointer;
}
.movie-wrap {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}
 
.movie-wrap iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.my-dialog .modal-dialog {
  min-width: 1004px;
  margin: 5px auto;
}

.my-dialog-mobile .modal-dialog-mobile {
  margin: 5px auto;
}

.my-dialog-mobile > div.modal-dialog{
  margin: 0px auto;
} 

.container {
}
.playlist{
}
#player {
  width:560px;
  height: 315px;
  float: left;
  margin-left: 8px;
  background-color: #222;
}
.music-scrolllist{
  float: left;
  overflow: auto;
  background-color: #222;
  height: 254px;
  width: 426px;
  color: #cacaca;
}
.music-scrolllist ol{
  margin-bottom: 0;
}
.music-scrolllist li{
  color: #b8b8b8;
  display: list-item;
  text-align: -webkit-match-parent; 
  padding: 10px 10px 10px 0;
  height: 61px;
  overflow: hidden;
}
.music-scrolllist li:hover{
  background: #525252;
}

a.playlist-music{
  margin-left: -10px;
  display: block;
  height: 41px;
  position: relative;
  cursor: pointer;
  text-decoration: none;
}
a.playlist-music:before{
  content:'.';
  display:block;
  height:0;
  visibility:hidden
}
a.playlist-music:after{
  content:'.';
  display:block;
  height:0;
  visibility:hidden;
  clear:both
}
span.input-group-addon{
  opacity: 1.0;
  z-index: auto;
}

span.yt-thumbnail{
  float: left;
  margin-left: 0;
  margin-right: 8px;
  width: 72px;
  overflow: hidden;
  background: #f1f1f1;
  font-size: 0;
  vertical-align: middle;
  display: inline-block;
  height: 40.5px;
}
span.thumbnail{
  display: inline-block;
  width: 72px;
  margin: 0 auto;
  padding: 0;
  border: 0;
  margin-right: 8px;
  display: block;
  height: auto;
}
span.yt-index{
  font-size: 10px;
  float: left;
  line-height: 41px;
  margin: 0 2px;
  text-align: center;
  width: 24px;
}
.music-scrolllist li div{ 
  overflow: hidden;
  position: relative;
  display:box; 
  display:-moz-box; 
  display:-webkit-box;
  overflow: hidden;
  position: relative;
  top: -2px;
}

.music-scrolllist li div h3{
  color: #cacaca;
  font-size: 13px;
  font-weight: normal;
  display:-webkit-box;
  -webkit-box-orient:vertical;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  white-space: normal;
  word-wrap: break-word;
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
}

.playlist ::-webkit-scrollbar{width:10px;height:4px;-webkit-appearance: none;}
.playlist ::-webkit-scrollbar-thumb{background:#ccc}
.playlist ::-webkit-scrollbar-thumb:hover{background:#777}


#player-mob {
  margin-left: 0px;
  margin-right: 0px;
  background-color: #222;
  width:560px;
  height: 315px;
}
.music-scrolllist-mob{
  overflow: auto;
  background-color: #222;
  height: 315px;
  color: #cacaca;
  margin: 0px;
  -webkit-overflow-scrolling: touch;
}
.music-scrolllist-mob ol{
  margin: 0px;
}
.music-scrolllist-mob li{
  color: #b8b8b8;
  display: list-item;
  text-align: -webkit-match-parent; 
  padding: 10px 10px 10px 0;
  height: 61px;
  overflow: hidden;
}
.music-scrolllist-mob li:hover{
  background: #525252;
}

a.playlist-music-mob{
  margin-left: -10px;
  display: block;
  height: 41px;
  position: relative;
  cursor: pointer;
  text-decoration: none;
}
a.playlist-music-mob:before{
  content:'.';
  display:block;
  height:0;
  visibility:hidden
}
a.playlist-music-mob:after{
  content:'.';
  display:block;
  height:0;
  visibility:hidden;
  clear:both
}

.detail-genre-mob {
    margin-left: 2px;
    margin-right: 2px;
    padding: 2px 8px 2px 8px;
    background-color: #dce0e0;
    border-radius: 5px;
    white-space: nowrap;
}
.genre-mob {
    font-size: 14px;
    margin: 4px 7px 4px 7px;
    line-height: 1.8em;
}
.playlist-info-mob{
    background-color:#1a1a1a;
    height: 61px;
    padding: 15px 5px 8px 5px;
    display: block;
    vertical-align: middle;
}
.playlist-title-mob{
    vertical-align: middle;
    font-size: 15px;
    color: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
    position:relative;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    padding-left: 5px;
    display: table-cell;
}
.youtue-icon-div-mob{
    vertical-align: middle;
    display: table-cell;
}
.youtue-icon-mob {
    vertical-align: middle;
    height: 30px;
}


span.input-group-addon{
  opacity: 1.0;
  z-index: auto;
}

span.yt-thumbnail{
  float: left;
  margin-left: 0;
  margin-right: 8px;
  width: 72px;
  overflow: hidden;
  background: #f1f1f1;
  font-size: 0;
  vertical-align: middle;
  display: inline-block;
  height: 40.5px;
}
span.thumbnail{
  display: inline-block;
  width: 72px;
  margin: 0 auto;
  padding: 0;
  border: 0;
  margin-right: 8px;
  display: block;
  height: auto;
}
span.yt-index{
  font-size: 10px;
  float: left;
  line-height: 41px;
  margin: 0 2px;
  text-align: center;
  width: 24px;
}
.music-scrolllist-mob li div{ 
  overflow: hidden;
  position: relative;
  display:box; 
  display:-moz-box; 
  display:-webkit-box;
  overflow: hidden;
  position: relative;
  top: -2px;
}

.info-title-mob{
  font-size: 8px;
  font-weight: normal;
  margin: 7px 7px 7px 7px;
}
.info-artist-mob{
    font-size: 13px;
    font-weight: bold;
    margin: 7px 7px 7px 7px;
}
.info-schedule-mob{
    margin: 7px 7px 7px 7px;
    line-height: 1em;
    font-size: 14px;
}
.info-schedule-mob span{
    /*font-size: 10px;*/
}
.music-scrolllist-mob li div h3{
  color: #cacaca;
  font-size: 13px;
  font-weight: normal;
  display:-webkit-box;
  -webkit-box-orient:vertical;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  white-space: normal;
  word-wrap: break-word;
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
}

.playlist-mob ::-webkit-scrollbar{width:10px;height:4px;-webkit-appearance: none;}
.playlist-mob ::-webkit-scrollbar-thumb{background:#ccc}
.playlist-mob ::-webkit-scrollbar-thumb:hover{background:#777}


#fountainG{
    width:234px;
    height:28px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

#fountainG-top{
    width:234px;
    height:28px;
    position: absolute;
    top: 150px;
    left: 0;
    right: 0;
    margin: auto;
}

.fountainG{
    position:absolute;
    top:0;
    background-color:rgb(102,102,102);
    width:28px;
    height:28px;
    animation-name:bounce_fountainG;
        -o-animation-name:bounce_fountainG;
        -ms-animation-name:bounce_fountainG;
        -webkit-animation-name:bounce_fountainG;
        -moz-animation-name:bounce_fountainG;
    animation-duration:1.5s;
        -o-animation-duration:1.5s;
        -ms-animation-duration:1.5s;
        -webkit-animation-duration:1.5s;
        -moz-animation-duration:1.5s;
    animation-iteration-count:infinite;
        -o-animation-iteration-count:infinite;
        -ms-animation-iteration-count:infinite;
        -webkit-animation-iteration-count:infinite;
        -moz-animation-iteration-count:infinite;
    animation-direction:normal;
        -o-animation-direction:normal;
        -ms-animation-direction:normal;
        -webkit-animation-direction:normal;
        -moz-animation-direction:normal;
    transform:scale(.3);
        -o-transform:scale(.3);
        -ms-transform:scale(.3);
        -webkit-transform:scale(.3);
        -moz-transform:scale(.3);
    border-radius:19px;
        -o-border-radius:19px;
        -ms-border-radius:19px;
        -webkit-border-radius:19px;
        -moz-border-radius:19px;
}

#fountainG_1{
    left:0;
    animation-delay:0.6s;
        -o-animation-delay:0.6s;
        -ms-animation-delay:0.6s;
        -webkit-animation-delay:0.6s;
        -moz-animation-delay:0.6s;
}

#fountainG_2{
    left:29px;
    animation-delay:0.75s;
        -o-animation-delay:0.75s;
        -ms-animation-delay:0.75s;
        -webkit-animation-delay:0.75s;
        -moz-animation-delay:0.75s;
}

#fountainG_3{
    left:58px;
    animation-delay:0.9s;
        -o-animation-delay:0.9s;
        -ms-animation-delay:0.9s;
        -webkit-animation-delay:0.9s;
        -moz-animation-delay:0.9s;
}

#fountainG_4{
    left:88px;
    animation-delay:1.05s;
        -o-animation-delay:1.05s;
        -ms-animation-delay:1.05s;
        -webkit-animation-delay:1.05s;
        -moz-animation-delay:1.05s;
}

#fountainG_5{
    left:117px;
    animation-delay:1.2s;
        -o-animation-delay:1.2s;
        -ms-animation-delay:1.2s;
        -webkit-animation-delay:1.2s;
        -moz-animation-delay:1.2s;
}

#fountainG_6{
    left:146px;
    animation-delay:1.35s;
        -o-animation-delay:1.35s;
        -ms-animation-delay:1.35s;
        -webkit-animation-delay:1.35s;
        -moz-animation-delay:1.35s;
}

#fountainG_7{
    left:175px;
    animation-delay:1.5s;
        -o-animation-delay:1.5s;
        -ms-animation-delay:1.5s;
        -webkit-animation-delay:1.5s;
        -moz-animation-delay:1.5s;
}

#fountainG_8{
    left:205px;
    animation-delay:1.64s;
        -o-animation-delay:1.64s;
        -ms-animation-delay:1.64s;
        -webkit-animation-delay:1.64s;
        -moz-animation-delay:1.64s;
}



@keyframes bounce_fountainG{
    0%{z
    transform:scale(1);
        background-color:rgb(102,102,102);
    }

    100%{
    transform:scale(.3);
        background-color:rgb(255,255,255);
    }
}

@-o-keyframes bounce_fountainG{
    0%{
    -o-transform:scale(1);
        background-color:rgb(102,102,102);
    }

    100%{
    -o-transform:scale(.3);
        background-color:rgb(255,255,255);
    }
}

@-ms-keyframes bounce_fountainG{
    0%{
    -ms-transform:scale(1);
        background-color:rgb(102,102,102);
    }

    100%{
    -ms-transform:scale(.3);
        background-color:rgb(255,255,255);
    }
}

@-webkit-keyframes bounce_fountainG{
    0%{
    -webkit-transform:scale(1);
        background-color:rgb(102,102,102);
    }

    100%{
    -webkit-transform:scale(.3);
        background-color:rgb(255,255,255);
    }
}

@-moz-keyframes bounce_fountainG{
    0%{
    -moz-transform:scale(1);
        background-color:rgb(102,102,102);
    }

    100%{
    -moz-transform:scale(.3);
        background-color:rgb(255,255,255);
    }
}
.dropdown-menu{
    white-space: nowrap;
    width: 680px;
    z-index:999999;
}

.dropdown-menu>li{
    font-family: arial, helvetica;
}
.dropdown-menu>.active>a{
    background-color: rgb(102,102,102);
    font-family: arial, helvetica;
}

.dropdown-menu>.active>a:hover{
    background-color: rgb(102,102,102); 
    font-family: arial, helvetica;
}
.search-fes{
    color: #cacaca;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis;
    text-overflow: ellipsis;
    width: 270px;
    white-space: nowrap;
    float: right;
}
.search-fes-wrap{
}
.download{
    position: absolute;
    padding: 0px;
    right: 180px;
    bottom: 0;
    width: 160px;
}
.download-mob{
    position: absolute;
    padding: 0px;
    width: 160px;
    margin-left:5px;
}
.download>img {
    width: 100%;
    height: auto;
}
.info{
    width: 986px;
    display: inline-block;
    position: relative;
    margin: 0;
}
.bread-detail{
    width: 986px;
    display: inline-block;
    position: relative;
    margin: 0px;
    margin: 0px 0px 3px 7px;
    font-size: 11px;
    font-weight:400;
    overflow: hidden;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis;
    text-overflow: ellipsis;
    max-width: 980px;
}
p.bread-detail > a{
    color:#444;
    font-size: 11px;
    font-weight:400;
}
.info-artist{
    font-size: 13px;
    font-weight: bold;
    margin: 7px 7px 7px 7px;
}
.info-title{
    font-size: 13px;
    font-weight: normal;
    margin: 7px 7px 7px 7px;
}
.info-artist>.sub{
    font-weight: bold;
    font-size: 0.6em;
    margin: 7px 7px 7px 7px;
}
.info-schedule{
    margin: 7px 7px 7px 7px;
    line-height: 1.0em;
}
.info-schedule>.category{
    font-size: 13px;
    font-weight: bold;
}
#container > nav > div > span{
    font-size: 1.2vw;
    font-weight: normal;
}

.appexp img {
width:auto;
height:auto;
max-width:368px;
max-height:256px;
vertical-align: middle;/*IE7*/
}
.search-li{
	display: inline;
	white-space:nowrap;
}
#menubar-top{
	width:730px;
}
/* #menubar-top > form{
	width:60vw;
}
 */
#menubar-top > form > div{
	width:720px;
}
.clear {
    clear:both;
}
.mob-icon{
	margin:2em;
    text-align: center;	
}
.ticket-wrap{
    margin:0; 
}
.inner-byday{
    margin-bottom:1em; 
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}
.fes{
    color: #FFF;	
}
/* #artist-list{
    position: absolute;
    margin: 0;
    padding: 0;
}
 */
#map-al{
	position: relative;
}
.#nav > ul > li > header > div.main-nav > h1{
    padding:5x !importan;
    font-size:8px !importan;
}
.rel-artist{
	display: block;
	color: #444;
	text-align: center;
    vertical-align: middle;
    word-wrap:break-all !important;
    overflow-wrap:break-word !important;
}
.rel-artist{
    display: block;
    color: #444;
    text-align: center;
    vertical-align: middle;
    word-wrap:break-all !important;
    overflow-wrap:break-word !important;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}
.rel-artist:hover{
    color: #444;
    color:  rgba(68, 68, 68, 0.3);
}
.rel-div{
	position: absolute;
	display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
}
.relations{
	position: relative;
	width: 100%;
	height: 100%;
	margin-top: 15px;
	text-align:center;
}
.similar-list{
    position: absolute;
    left: 0;
    right: 0;
    margin:0 auto;
    padding-left: 7px;
    padding-right: 7px;
    font-size:13px;
    font-weight:500;
    line-height:1em;
    overflow: hidden; 
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis;
    text-overflow: ellipsis;
    max-width: 990px;
}
.exp_click{
	bottom:16%;
	left: 65%;
    position: absolute;
    font-size:0.8em;
    font-weight:600;
    line-height:1em;
    padding: 1em;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-shadow: 2px 2px 1px rgba(0,0,0,0.2);     
}
.area-menu{
    vertical-align: middle;
}
ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: table;
    table-layout: fixed;
    text-align: center;
    width: 100%;
    color: #444;
    vertical-align: middle;
    height:100%;
}

/* Float the list items side by side */
ul.tab li {
    display: table-cell;
}

/* Style the links inside the list items */
ul.tab li a.second-tab {
    display:block;
    text-align: center;
    /*padding: 4px 16px;*/
    text-decoration: none;
    transition: 0.3s;
    font-size: 1.2em;
    line-height: 1.0em;
    border-left: 1px solid #dce0e0;
}
ul.tab li a.top-tab {
    display:block;
    text-align: center;
    /*padding: 4px 16px;*/
    text-decoration: none;
    transition: 0.3s;
    font-size: 1.2em;
    line-height: 1.0em;
}
ul.tab li a.selected-area {
    color: #444;
    font-weight: 600;
}

.genre{
    font-size: 0.8em;
    margin: 14px 7px 4px 7px;
}
.detail-genre{
    margin-left: 2px;
    margin-right: 2px;
    padding: 3px 10px 3px 10px;
    background-color: #dce0e0;
    border-radius:5px;
}
.modal-backdrop {
    background-color: gainsboro;
}
div.modal-content{
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    border: none;
}
#guide{
    min-height:220px;
}
.playlist-info{
    background-color:#1a1a1a;
    width:426px;
    height: 61px;
    padding: 15px 5px 8px 5px;
    display: block;
    vertical-align: middle;
    float: left;
}
.playlist-title {
    width:370px;
    vertical-align: middle;
    font-size: 100%;
    color: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
    position:relative;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    padding-left: 5px;
    display: table-cell;
}
.youtue-icon{
    vertical-align: middle;
    display: table-cell;
}

span.select-data{
    font-size: 0.8em;
    font-weight: 400;
}