<script type="text/ng-template" id="itemTpl.html">
    <a text-overflow: ellipsis;>{{ match.model.disp }}
        <span class="search-fes-wrap">
            <span class="search-fes">&nbsp;&nbsp;&nbsp;{{ match.model.fes }}</span>
        </span>
    </a>
</script>
<div id="page-wrapper">
    <!-- Header -->
    <div id="header">
        <!-- Inner -->
        <!-- Nav -->
        <nav id="nav">
            <ul>
                <li class="search-li">
                <header>
                    <h1 class="main-title">{{h1Text}}</h1>
                    <div class="logo">
                        <a href="/{{lang_str}}">
                            <img src="images/meetrow_logo.png" alt="meetrow" class="main-logo">
                        </a>
                    </div>
                    <span id="menubar-top">
                        <form class="navbar-form" role="search" autocomplete="off">
                            <div class="input-group">
                                <div class="input-group-btn" id="mobile-logo-area">
                                    <a href="/{{lang_str}}">
                                    <img src="images/mobile_logo.png" alt="meetrow" class="mobile-main-logo" width="30" height="30">
                                    </a>
                                </div>
                                <input type="text" class="form-control" placeholder="{{ 'common.searchPlaceholder' | translate }}" name="srch-term" id="srch-term" ng-model="suggestion"  typeahead-template-url="itemTpl.html" uib-typeahead="suggest.disp for suggest in selectList($viewValue) | limitTo: 7" typeahead-on-select="goSearchRsult($item, $model, $label)"/>
                                <div class="input-group-btn">
                                    <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                                </div>
                            </div>
                        </form>
                    </span>
                    <div class="clear"></div>
                </header>
                <div class="area-menu">
                    <ul class="tab">
                        <li><a href="{{main_link}}" class="top-tab" ><img src="images/{{main}}.png" alt="{{main}}" class="japan-icon"></a></li>
                        <li><a href="{{sub_link}}" class="second-tab" ><img src="images/{{sub}}.png" alt="{{sub}}" class="global-icon"></a></li>
                    </ul>
                </div>
                </li>
            </ul>
        </nav>
    </div>
        <div class="wrapper style1">
            <div class="inner">
            <header>
                <div class="about-site">{{ 'main.aboutSite' | translate }}</div>
            </header>
            </div>
            <div class="container">
                <article id="main" class="special">
                    <header>
                        <div class="site-name">メートロゥ</div>
                        <div class="site-name-sub">Meetrow</div>
                    </header>
                </article>
                <article id="main" class="fes-select">
                    <section>
                        <header class="select-fes">
                            <h2 class="menu-list">{{area_txt}}</h2>
                            <div>
                                <div class="loading">
　　　　　　　　　　　　　　　　　　     <div id="fountanWrap">
                                        <div id="fountainG-top">
                                            <div id="fountainG_1" class="fountainG"></div>
                                            <div id="fountainG_2" class="fountainG"></div>
                                            <div id="fountainG_3" class="fountainG"></div>
                                            <div id="fountainG_4" class="fountainG"></div>
                                            <div id="fountainG_5" class="fountainG"></div>
                                            <div id="fountainG_6" class="fountainG"></div>
                                            <div id="fountainG_7" class="fountainG"></div>
                                            <div id="fountainG_8" class="fountainG"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="years-content" ng-show="subs_by_years[2016]">
                                <div class="menu-list-year">2016</div>
                                <div class="row">
                                    <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4" ng-repeat="subs_2016 in subs_by_years[2016]">
                                        <h2 class="fes">
                                            <a ng-if="lang == 'ja'" class="image-anchor" href="/map/{{'音楽' | encodeURIComponent}}/{{subs_2016.name | encodeURIComponent}}({{subs_2016.name_sub | encodeURIComponent}})">
                                                <img class="fes-image" alt="{{subs_2016.name}}({{subs_2016.name_sub}})" ng-src="https://storage.googleapis.com/meetrow_ases_st/mid_{{subs_2016.image}}">
                                                <span class="fes-title-link" id="fes-title"><span class="fes-new" ng-if="!!subs_2016.new">new!&nbsp;</span>{{subs_2016.name}}<br>{{subs_2016.name_sub}}</span>
                                            </a>
                                            <a ng-if="lang == 'en'" class="image-anchor" href="/{{lang}}/map/{{'音楽' | encodeURIComponent}}/{{subs_2016.name | encodeURIComponent}}({{subs_2016.name_sub | encodeURIComponent}})">
                                                <img class="fes-image" alt="{{subs_2016.name}}({{subs_2016.name_sub}})" ng-src="https://storage.googleapis.com/meetrow_ases_st/mid_{{subs_2016.image}}">
                                                <span class="fes-title-link" id="fes-title"><span class="fes-new" ng-if="!!subs_2016.new">new!&nbsp;</span>{{subs_2016.name}}</span>
                                            </a>
                                        </h2>
                                        <span class="fes-image-credit" ><a href="{{subs_2016.licencelink}}" target="_blank" rel="noopener noreferrer">{{subs_2016.licence}}</a></span>
                                    </div>
                                </div>
                            </div>
                            <div class="years-content" ng-show="subs_by_years['other']">
                                <div class="menu-list-year">more</div>
                                <div class="row">
                                    <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4" ng-repeat="subs_other in subs_by_years['other']">
                                        <h2 class="fes">
                                            <a ng-if="lang == 'ja'" class="image-anchor" href="/map/{{'音楽' | encodeURIComponent}}/{{subs_other.name | encodeURIComponent}}({{subs_other.name_sub | encodeURIComponent}})">
                                                <img class="fes-image" alt="{{subs_other.name}}({{subs_other.name_sub}})" ng-src="https://storage.googleapis.com/meetrow_ases_st/mid_{{subs_other.image}}">
                                                <span ng-if="lang == 'ja'" class="fes-title-link" id="fes-title"><span class="fes-new" ng-if="!!subs_other.new">new!&nbsp;</span>{{subs_other.name}}<br>{{subs_other.name_sub}}</span>
                                                <span ng-if="lang == 'en'" class="fes-title-link" id="fes-title"><span class="fes-new" ng-if="!!subs_other.new">new!&nbsp;</span>{{subs_other.name}}</span>
                                            </a>
                                            <a ng-if="lang == 'en'" class="image-anchor" href="/{{lang}}/map/{{'音楽' | encodeURIComponent}}/{{subs_other.name | encodeURIComponent}}({{subs_other.name_sub | encodeURIComponent}})">
                                                <img class="fes-image" alt="{{subs_other.name}}({{subs_other.name_sub}})" ng-src="https://storage.googleapis.com/meetrow_ases_st/mid_{{subs_other.image}}">
                                                <span ng-if="lang == 'ja'" class="fes-title-link" id="fes-title"><span class="fes-new" ng-if="!!subs_other.new">new!&nbsp;</span>{{subs_other.name}}<br>{{subs_other.name_sub}}</span>
                                                <span ng-if="lang == 'en'" class="fes-title-link" id="fes-title"><span class="fes-new" ng-if="!!subs_other.new">new!&nbsp;</span>{{subs_other.name}}</span>
                                            </a>
                                        </h2>
                                        <span class="fes-image-credit" ><a href="{{subs_other.licencelink}}" target="_blank" rel="noopener noreferrer">{{subs_other.licence}}</a></span>
                                    </div>
                                </div>
                            </div>
                         </header>
                    </section>
                </article>
                <hr class="fes-select">
                <div class="mob-icon">
                    <a href="https://itunes.apple.com/jp/app/metoro-u-fesunomatome-rokkuinjapan/id1099070037?mt=8" style="display:inline-block;overflow:hidden;">
                        <img src="images/{{lang_str}}itunes_app.png" alt="app download" width="165px" class="download-itunes">
                    </a>
                </div>
                <div class="row">
                    <article class="4u 12u(mobile) special">
                        <div class="image featured"><img class="appexp" src="images/app_image1.jpg" alt="App diplay 1" />
                        </div>
                        <header>
                            <h3>{{ 'main.h3Text1' | translate }}</h3>
                        </header>
                        <p class="image-about">{{ 'main.h3Text1PText' | translate }}</p>
                    </article>
                    <article class="4u 12u(mobile) special">
                        <div class="image featured"><img class="appexp" src="images/app_image2.jpg" alt="App diplay 2" />
                        </div>
                        <header>
                            <h3>{{ 'main.h3Text2' | translate }}</h3>
                        </header>
                        <p class="image-about">{{ 'main.h3Text2PText' | translate }}</p>
                    </article>
                    <article class="4u 12u(mobile) special">
                        <div class="image featured"><img class="appexp" src="images/app_image3.jpg" alt="App diplay 3" />
                        </div>
                        <header>
                            <h3>{{ 'main.h3Text3' | translate }}</h3>
                        </header>
                        <p class="image-about">{{ 'main.h3Text3PText' | translate }}</p>
                    </article>
                </div>
            </div>
        </div>
        <!-- Footer -->
        <div id="footer">
            <div class="container">
            <div class="row">

                            <!-- Tweets -->
                                <section class="4u 12u(mobile)">
                                    <header>
                                        <div class="icon fa-twitter circled"><span class="label">Tweets</span></div>
                                    </header>
                                    <ul class="divided">
                                        <li>
                                            <article class="tweet">
                                                <a href="https://twitter.com/soroban11/status/758903088577073152" target="_blank" rel="noopener noreferrer">
                                                    {{ 'main.twitter2' | translate }}<br>
                                                </a>
                                                <span class="timestamp">Jul/29/2016</span>
                                            </article>
                                        </li>
                                        <li>
                                            <article class="tweet">
                                                <a href="https://twitter.com/soroban11/status/615002486915489792" target="_blank" rel="noopener noreferrer">
                                                {{ 'main.twitter1' | translate }}<br>
                                                </a><br>
                                                <span class="timestamp">Jul/29/2016</span>
                                            </article>
                                        </li>
                                    </ul>
                                </section>

                            <!-- Posts -->
                                <section class="4u 12u(mobile)">
                                    <header>
                                        <div class="icon fa-file circled"><span class="label">Posts</span></div>
                                    </header>
                                    <ul class="divided">
                                        <li>
                                            <article class="post stub">
                                                <header>
                                                    <div>{{ 'main.message2' | translate }}</div>
                                                </header>
                                                <span class="timestamp">Oct/28/2016</span>
                                            </article>
                                        </li>
                                        <li>
                                            <article class="post stub">
                                                <header>
                                                    <div>{{ 'main.message1' | translate }}</div>
                                                </header>
                                                <span class="timestamp">Jul/28/2016</span>
                                            </article>
                                        </li>
                                    </ul>
                                </section>

                            <!-- Photos -->
                                <section class="4u 12u(mobile)">
                                    <header>
                                        <div class="icon fa-thumbs-up circled"><span class="label">Photos</span></div>
                                    </header>
                                    <ul class="divided">
                                        <li>
                                            <article class="post stub">
                                            <a href="https://itunes.apple.com/jp/app/metoro-u-fesunomatome-rokkuinjapan/id1099070037?mt=8" style="display:inline-block;overflow:hidden;">
                                                <img src="images/{{lang_str}}itunes_app.png" alt="app download" width="165px" class="download-itunes">
                                            </a>
                                            </article>
                                        </li>
                                    </ul>
                                </section>
            </div>
        </div>
        <div class="row">
            <div class="12u">
                <!-- Contact -->
                <section class="contact">
                    <p></p>
                    <ul class="icons">
                        <li><a href="https://twitter.com/soroban11" class="icon fa-twitter" target="_blank" rel="noopener noreferrer"><span class="label">Twitter</span></a></li>
                     </ul>
                </section>
                <section class="contact">
                    <a ng-if="lang == 'en'" href="/en" class="language-sel">English</a>
                    <a ng-if="lang == 'en'" href="/" class="language-right">日本語</a>
                    <a ng-if="lang == 'ja'" href="/en" class="language">English</a>
                    <a ng-if="lang == 'ja'" href="/" class="language-right-sel">日本語</a>
                </section>
                <!-- Copyright -->
                <div class="copyright">
                    <ul class="menu">
                        <li>&copy; soroban.com. All rights reserved.</li>
                        <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
                        <li><a href="https://icons8.com/">Icons8</a></li>
                        <li>designed by <a href="http://www.freepik.com">Freepik<a/> in flags from <a href="https://icons8.com/">Flaticon</a></a></li>
                        <li>designed by <a href="http://yannicklung.com">Yannick<a/> in web from <a href="https://icons8.com/">Flaticon</a></a></li>
                    </ul>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>