<script type="text/ng-template" id="itemTpl.html">
    <a text-overflow: ellipsis;>{{ match.model.disp }}
        <span class="search-fes-wrap">
            <span class="search-fes">&nbsp;&nbsp;&nbsp;{{ match.model.fes }}</span>
        </span>
    </a>
</script>
<div id="page-wrapper" ng-init="addEvent()">
    <div id="header" class="header-map">
            <nav id="nav">
            <ul>
                <li class="search-li">
                    <header>
                    <div class="main-nav"><h1 ng-if="detail != true">{{h1Text}}&nbsp;</h1></div>
                        <div class="logo">
                            <a href="/{{lang_str}}">
                                <img src="images/meetrow_logo.png" alt="meetrow" class="main-logo">
                            </a>
                        </div>
                        <span id="menubar-top">
                        <form class="navbar-form" role="search" autocomplete="off">
                            <div class="input-group">
                                <div class="input-group-btn" id="mobile-logo-area">
                                    <a href="/{{lang_str}}">
                                    <img src="images/mobile_logo.png" alt="meetrow" class="mobile-main-logo" width="30" height="30">
                                    </a>
                                </div>
                                <input type="text" class="form-control" placeholder="{{ 'common.searchPlaceholder' | translate }}" name="srch-term" id="srch-term" ng-model="suggestion"  typeahead-template-url="itemTpl.html" uib-typeahead="suggest.disp for suggest in selectList($viewValue) | limitTo: 7" typeahead-on-select="goSearchRsult($item, $model, $label)"/>
                                <div class="input-group-btn">
                                    <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                                </div>
                            </div>
                        </form>
                        </span>
                    <div class="clear"></div>
                    </header>
                    <div class="area-menu">
                        <ul class="tab">
                            <li><a href="{{main_link}}" class="top-tab" ><img src="images/{{main}}.png" alt="{{main}}" class="japan-icon"></a></li>
                            <li><a href="{{sub_link}}" class="second-tab" ><img src="images/{{sub}}.png" alt="{{sub}}" class="global-icon"></a></li>
                        </ul>
                    </div>
                </li>
            </ul>
            </nav>
    </div>
</div>
<!-- Header -->
<div id="fountanWrap">
    <div id="fountainG">
        <div id="fountainG_1" class="fountainG"></div>
        <div id="fountainG_2" class="fountainG"></div>
        <div id="fountainG_3" class="fountainG"></div>
        <div id="fountainG_4" class="fountainG"></div>
        <div id="fountainG_5" class="fountainG"></div>
        <div id="fountainG_6" class="fountainG"></div>
        <div id="fountainG_7" class="fountainG"></div>
        <div id="fountainG_8" class="fountainG"></div>
    </div>
</div>
<div id="container">
    <div id="inner">
        <div id="map-al">
            <canvas id="map"></canvas>
        </div>    
    </div>
    <h2 id="lright-add" ng-if="lowerRight">{{addText}}&nbsp;＞<div ng-bind-html="atag"></div></h2>
    <div id="other-info" ng-if="byday!=99999">
        <div class="inner-byday" ng-if="lang == 'ja'">あと<span id="byday">{{byday}}</span>日</div>
        <div class="inner-byday" ng-if="lang == 'en' && byday == 1"><span id="byday">{{byday}}</span> more day</div>
        <div class="inner-byday" ng-if="lang == 'en' && byday != 1"><span id="byday">{{byday}}</span> more days</div>
        <div class="ticket-info" ng-if="!!ticketCheck"><img alt="" src="images/Ticket-100.png" >チケット</div>
        <div ng-repeat=" ticket in tickets" class="ticket-wrap">
        <a class="ticket" href="{{ticket.href}}" target="_blank" rel="noopener noreferrer">{{ticket.text}}</a>
        <img alt="icon" width="1" height="1" src="{{ticket.src}}">
        </div>
    </div>
    <div id="subadd">
        <div id="add-wrapper" ng-click="vm.zoomInMap();"><span id="add" class="clickable">+</span></div><br>
        <div id="sub-wrapper" ng-click="vm.zoomOutMap();"><span id="sub" class="clickable">-</span></div>
    </div>
    <!--<div id="about-map">-->
        <!--<div id="open-map-image" ><img src="images/" alt="路線図案内"></div>-->
        <!--<div id="open-map" >路線図案内</div>-->
    <!--</div>-->
    <div class="bread-crumb">
        <ul>
            <li class="top" ng-if="lang == 'ja' && detail != true"><a href="/">Top</a></li>
            <li class="top" ng-if="lang == 'en' && detail != true"><a href="/en">Top</a></li>
            <li class="def" ng-if="lang == 'ja' && detail != true">&nbsp;＞&nbsp;{{name}}({{name_sub}})の予習,おすすめの出演アーティストを検索,出会う</li>
            <li class="def" ng-if="lang == 'en' && detail != true">&nbsp;＞&nbsp;Search similar artists of {{name}}. Find new favorite music Artists. Prepare for a music festivals.</li>
        </ul>
    </div>
</div>
    <nav class="navbar navbar-default navbar-fixed-bottom">
            <div class="name">
                <span class="fes-name">
                    <a ng-if="out_link != 'null'" href="{{out_link}}" class="fes-out-link" target="_blank" rel="noopener noreferrer">{{name}}</a>
                    <spna ng-if="out_link == 'null'" class="fes-out-link">{{name}}</span>
                </span><br>
                <span class="date" ng-show="dates">
                    <span class="fes-info">
                        <span class="select-data">{{ 'map.dates' | translate }}:</span>
                        <span ng-repeat="(key, date) in dates">
                            <a ui-sref="map({days:date.param})" ng-if="$first == true && lang == 'ja'" class="first-date{{date.select}}" href="{{urlJa}}?days=0" ui-sref-opts="{reload: true}">{{date.text}}</a>
                            <a ui-sref="lang_map({days:date.param})" ng-if="$first == true && lang == 'en'" class="first-date{{date.select}}" href="{{urlEn}}?days=0" ui-sref-opts="{reload: true}">{{date.text}}</a>
                            <a ui-sref="map({days:date.param})" ng-if="$first == false && lang == 'ja'" class="second-date{{date.select}}"href="{{urlJa}}?days={{key}}" ui-sref-opts="{reload: true}">{{date.text}}</a>
                            <a ui-sref="lang_map({days:date.param})" ng-if="$first == false && lang == 'en'" class="second-date{{date.select}}" href="{{urlEn}}?days={{key}}" ui-sref-opts="{reload: true}">{{date.text}}</a>
                        </span>
                    </span>
                </span><br>
                <span class="lang">
                    <span class="lang-select">{{ 'map.lang' | translate }}:</span>
                    <a ng-if="lang == 'ja'" href="{{urlEn}}" class="first">English</a>
                    <a ng-if="lang == 'ja'" href="{{urlJa}}" class="next-sel">日本語</a>
                    <a ng-if="lang == 'en'" href="{{urlEn}}" class="first-sel">English</a>
                    <a ng-if="lang == 'en'" href="{{urlJa}}" class="next">日本語</a>
                </span>
            </div>
    </nav>
</div>