<!doctype html>
<html lang="ja" ng-app="public-app" ng-controller="AppController" >
<link rel="canonical" href="https://meetrow.com">
<base href="/">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="initial-scale=1.0,user-scalable=no">
<title>Meetrow</title>
<meta name="keywords" content="出演アーティスト一覧,ROCK IN JAPAN FESTIVAL,ロッキン,ロッキンジャパン,COUNTDOWN JAPAN,カウントダウン,JAPAN COUNTDOWN,CDJ,SUMMER SONIC,サマソニ,FUJI ROCK,FUJI ROCK FESTIVAL,RISING SUN ROCK FESTIVAL,ライジング,サン,ロック,フェスティバル,RSR,Outside Lands,アウトサイドランズ,グラストンベリー・フェスティバル,Glastonbury Festival" />
<meta name="description" content="ロックインジャパン,カウントダウンジャパン,フジロック,サマーソニックなど夏フェス,フェスの予習,おすすめの出演アーティストを検索,出会う.タイムテーブルの確認、Youtubeでのフェスの予習が行えます.お気に入りのアーティストを元に新しいおすすめアーティストに出会えます." />
<meta property="og:type" content="article"/>
<meta property="og:title" content="ロックインジャパン,カウントダウンジャパン,フジロック,サマーソニックなど夏フェス,フェス|予習|おすすめの出演アーティストを検索|出会う"/>
<meta property="og:description" content="ロックインジャパン,カウントダウンジャパン,フジロック,サマーソニックなど夏フェス,フェスの予習,おすすめの出演アーティストを検索,タイムテーブルの確認,Youtubeの再生.お気に入りのアーティストを元に新しいおすすめアーティストに出会えます." />
<meta property="og:image" content="https://meetrow.com/images/meetrow_site_capcha.png" />
<meta property="og:url" content="{{ogUrl}}" />
<meta property="og:site_name" content="メートロゥ"/>
<meta content="summary" name="twitter:card" />
<meta content="@twitter_acount" name="twitter:site" />
<link rel="alternate" hreflang="ja" href="http://meetrow.com">
<link rel="alternate" hreflang="en" href="http://meetrow.com/en">

<script src="https://www.gstatic.com/firebasejs/3.6.9/firebase.js"></script>
<script>
//    var config = {
//        apiKey: "AIzaSyAo51oFOTvNQWq1eFs6NW3bSId1SumEYjQ",
//        authDomain: "meteor-20160805.firebaseapp.com",
//        databaseURL: "https://meteor-20160805.firebaseio.com",
//        storageBucket: "meteor-20160805.appspot.com",
//        messagingSenderId: "1038159739118"
//    };
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyAEjr95Rn25iAJd8zeCjhuo-KPqlmQZ540",
    authDomain: "meetrow-20160806.firebaseapp.com",
    databaseURL: "https://meetrow-20160806.firebaseio.com",
    storageBucket: "meetrow-20160806.appspot.com",
    messagingSenderId: "370930563127"
  };

 firebase.initializeApp(config);
  
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-87159815-1', 'auto');

</script>
  
  <style>
    [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
      display: none !important;
    }
  </style>

  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
  <link rel="stylesheet" href="css/styles.css"/>
  <link rel="stylesheet" href="css/main.css" />
  <link rel="shortcut icon" href="images/favicon.ico">

  <main ui-view></main>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular.min.js"></script>
  <script src="https://cdn.firebase.com/libs/angularfire/2.2.0/angularfire.min.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular-sanitize.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-cookies.min.js"></script>
  <script src="vendor/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script src="vendor/angular-ui-router-styles/ui-router-styles.js"></script>
  <script src="vendor/angular-bootstrap/ui-bootstrap-tpls-2.5.0.min.js"></script>
  <script src="bower_components/angulartics/dist/angulartics.min.js"></script>
  <script src="bower_components/angulartics-google-analytics/dist/angulartics-ga.min.js"></script>
  <script src="bower_components/angular-translate/angular-translate.min.js"></script>
  <script src="bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js"></script>

  <script src="app/app.module.js"></script>
  <script src="app/app.config.js"></script>
  <script src="app/app.controller.js"></script>
  <script src="app/filters/uri-component.js"></script>

  <script src="app/views/main/main.controller.js"></script>
  <script src="app/views/map/map.controller.js"></script>
  <script src="app/views/detail/detail.controller.js"></script>
  <script src="app/views/transferGuide/transferGuide.controller.js"></script>

  <script src="assets/js/jquery.dropotron.min.js"></script>
  <script src="assets/js/jquery.scrolly.min.js"></script>
  <script src="assets/js/jquery.onvisible.min.js"></script>
  <script src="assets/js/skel.min.js"></script>
  <script src="assets/js/util.js"></script>
  <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
  <script src="assets/js/main.js"></script>

</html>