<script>
(function () {
    var timer = null;
    $(".music-scrolllist").on("mousewheel", function () {
        $(".modal").css({overflow: "hidden"});
        clearTimeout(timer);
        timer = setTimeout(function () {
            $(".modal").css({overflow: ""});
        }, 200);
    });
})();
</script>

<button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click='clickClose()'>×</button>
<!-- <iframe width="{{yWidth}}px" height="{{yHeight}}px" ng-src="{{url}}" frameborder="0" allowfullscreen＝"0"></iframe>-->
<div class="detail-area">
    <div class="container"></div>
    <div id="player-mob" ng-init="callYoutube()"></div>
    <div class="info-mob">
        <h1 class="info-artist-mob">{{h1Text}}</h1>
        <div class="info-schedule-mob">
            <span class="detail-day-mob">{{timesText}}</span>
            </span>&nbsp;&nbsp;&nbsp;
            <span  class="detail-stage-mob" ng-repeat="stage in stages track by $index">{{stage}}
                <span ng-show="!$last">/</span>
            </span>&nbsp;&nbsp;&nbsp;
        </div>
        <div class="genre-mob" ng-if="detail.genre" ng-bind-html="genre_span">
            {{ 'detail.musicGenre' | translate }}&nbsp;
        </div>
    </div>
    <div class="playlist">
        <div class="playlist-info-mob">
            <div class='youtue-icon-div-mob' ng-show='exp'><img src='images/Youtube.png' alt='Youtube' width='30px'class="youtue-icon-mob"></div>
            <div class="playlist-title-mob">
                {{youtube}}
            </div>
        </div>
        <ol class="music-scrolllist-mob">
            <li class="music" ng-repeat="(key, music) in playlist">
                <span class="yt-index" id="{{music.index}}">
                    {{music.index}}
                </span>
                <a data-id="{{music.index}}" ng-if="lang == 'ja'"　href="/map/{{'音楽' | encodeURIComponent}}/{{sub_category | encodeURIComponent}}/{{artistUrl | encodeURIComponent}}/{{music.youtube_id}}" class="playlist-music" ng-click='linkMusic($event)'>
                  <span class="yt-thumbnail">
                      <span class="thumbnail"><img ng-src="{{music.thumbnail}}" alt="{{music.title}}" width="72px" aria-hidden="true"/></span>
                  </span>
                    <div class="title"><h3>{{music.title}}</h3></div>
                </a>

                <a data-id="{{music.index}}" ng-if="lang != 'ja'" href="/{{lang}}/map/{{'音楽' | encodeURIComponent}}/{{sub_category | encodeURIComponent}}/{{artistUrl | encodeURIComponent}}/{{music.youtube_id}}" class="playlist-music" ng-click='linkMusic($event)'>
                  <span class="yt-thumbnail">
                      <span class="thumbnail"><img ng-src="{{music.thumbnail}}" alt="{{music.title}}" width="72px" aria-hidden="true"/></span>
                  </span>
                    <div class="title"><h3>{{music.title}}</h3></div>
                </a>
            </li>
        </ol>
    </div>
    <!--     <div class="download-mob" ng-if="!!detail.apple_artist_id">
            <ul class="dowload-list">
                <li class="dowload-icon">
                    <a href="https://geo.itunes.apple.com/jp/artist/{{detail.apple_artist_id}}?mt=1&app=music&at=1000lpcW" style="display:inline-block;overflow:hidden;background:url(//tools.applemusic.com/assets/shared/badges/ja-jp/music-lrg.svg) no-repeat;width:115px;height:40px;" target="_blank"></a>
                </li>
            </ul>
        </div>
     -->
    <div class="relations">
        <h2 class="similar-list-mob">{{h2Text}}</h2>
 　　    <canvas id="guide"></canvas>
        <div ng-init="drawing()"></div>
        <div class="exp_click-mob" id="exp" style="display:none"><-{{ 'detail.click' | translate }}</div>
    </div>
    <div class="album-list" ng-if="artistLink" >
        <h2 class="about-album">{{h2Album}}</h2>
        <div class="album-info-mob-first">
            <div class="album-exp-mob">
                - {{ 'detail.playAlbumExp' | translate }} -
            </div>
            <div ng-show="play_albums" ng-repeat="(key, play_album) in play_albums" class="album-block album{{key}}">
                <h3 class="album-title">
                    <a href="{{play_album.collectionViewUrl}}" target="_blank" rel="noopener noreferrer">
                        {{play_album.albumName}}
                    </a>
                </h3>
                <div class="jacket-list">
                    <div class="album-jacket">
                        <a href="{{play_album.collectionViewUrl}}"  target="_blank" rel="noopener noreferrer">
                            <img src="{{play_album.artworkUrl}}340x340bb.jpg" class="jacket-images">
                        </a>
                    </div>
                    <div class="album-music-list-mob">
                        <table class="table" id="music-list-table-mob">
                            <thead>
                            <tr>
                                <th class="th-first"></th>
                                <th class="th-first"></th>
                                <th class="th-second">{{ 'detail.titleTag' | translate }}</th>
                                <th class="th-third"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="(track_key, track) in play_album.track">
                                <th scope="row"><img ng-if="arraySearch(youtube_id, track.video_id) == true" src="images/now-playing.png" class="now-playing"></th>
                                <td align="right">{{track_key+1}}</td>
                                <td ng-if="arraySearch(youtube_id, track.video_id) == true" class="attention-track"><a href="{{track.trackViewUrl}}" target="_blank" rel="noopener noreferrer">{{track.trackName}}</a></td>
                                <td ng-if="arraySearch(youtube_id, track.video_id) != true" class="track-title">{{track.trackName}}</td>
                                <td><a href="{{track.trackViewUrl}}" target="_blank" rel="noopener noreferrer">{{ 'detail.downLink' | translate }}</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="artist-search-link-mob" ng-show="play_albums==null">
                <a href="{{artistLink}}" target="_blank" rel="noopener noreferrer">{{ 'detail.artsitPageLink' | translate }}&nbsp;&rtrif;</a>
            </div>

        </div>
        <div class="album-info-mob" >
            <h2 class="album-exp-mob">
                - {{ popularAlbum }} -
            </h2>
            <div class="album-exp-sub-mob">{{ 'detail.popularAlbumExp' | translate }}</div>
            <div class="album-block"  ng-show="popular_albums" ng-repeat="(key, play_album) in popular_albums">
                <h3 class="album-title">
                    <a href="{{play_album.collectionViewUrl}}" target="_blank" rel="noopener noreferrer">
                        {{play_album.albumName}}

                </h3>
                <div class="jacket-list">
                    <div class="album-jacket">
                        <a href="{{play_album.collectionViewUrl}}" target="_blank" rel="noopener noreferrer">
                            <img src="{{play_album.artworkUrl}}340x340bb.jpg" class="jacket-images">
                        </a>
                    </div>
                    <div class="album-music-list-mob">
                        <table class="table" id="music-list-table-mob">
                            <thead>
                            <tr>
                                <th class="th-first"></th>
                                <th class="th-first"></th>
                                <th class="th-second">{{ 'detail.titleTag' | translate }}</th>
                                <th class="th-third"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="(track_key, track) in play_album.track">
                                <th scope="row"><img ng-if="arraySearch(youtube_id, track.video_id) == true" src="images/now-playing.png" class="now-playing"></th>
                                <td align="right">{{track_key+1}}</td>
                                <td ng-show="track.video_id" class="attention-track"><a href="{{track.trackViewUrl}}" target="_blank" rel="noopener noreferrer">{{track.trackName}}</a></td>
                                <td ng-hide="track.video_id" class="track-title">{{track.trackName}}</td>
                                <td><a href="{{track.trackViewUrl}}" target="_blank" rel="noopener noreferrer">{{ 'detail.downLink' | translate }}</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="album-info-mob-last">
            <div class="album-exp-mob">
            </div>
            <div class="artist-search-link-mob">
                <a href="{{artistLink}}" target="_blank" rel="noopener noreferrer">{{ otherAlbumLink }}&nbsp;&rtrif;</a>
            </div>
        </div>
    </div>
</div>    