<script>
(function () {
    var timer = null;
    $(".music-scrolllist").on("mousewheel", function () {
        $(".modal").css({overflow: "hidden"});
        clearTimeout(timer);
        timer = setTimeout(function () {
            $(".modal").css({overflow: ""});
        }, 200);
    });
})();
</script>

<button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click='clickClose()'>×</button>
<!-- <iframe width="{{yWidth}}px" height="{{yHeight}}px" ng-src="{{url}}" frameborder="0" allowfullscreen＝"0"></iframe>-->
<div class="detail-area">
    <div class="container"></div>
    <div id="player" ng-init="callYoutube()"></div>
    <div class="playlist">
        <div class="playlist-info">
            <div class='youtue-icon' ng-show='exp'><img src='images/Youtube.png' alt='Youtube' width='30px'></div>
            <div class="playlist-title">
                {{youtube}}
            </div>
        </div>
        <ol class="music-scrolllist">
            <li class="music" ng-repeat="(key, music) in playlist">
                <span class="yt-index" id="{{music.index}}">
                    {{music.index}}
                </span>
                <a data-id="{{music.index}}" ng-if="lang == 'ja'" href="/map/{{'音楽' | encodeURIComponent}}/{{sub_category_disp | encodeURIComponent}}/{{artistUrl | encodeURIComponent}}/{{music.youtube_id}}" class="playlist-music" ng-click='linkMusic($event)'>
                    <span class="yt-thumbnail">
                        <span class="thumbnail"><img ng-src="{{music.thumbnail}}" alt="{{music.title}}" width="72px" aria-hidden="true"/></span>
                    </span>
                    <div class="title"><h3>{{music.title}}</h3></div>
                </a>
                <a data-id="{{music.index}}" ng-if="lang != 'ja'" href="/{{lang}}/map/{{'音楽' | encodeURIComponent}}/{{sub_category_disp | encodeURIComponent}}/{{artistUrl | encodeURIComponent}}/{{music.youtube_id}}" class="playlist-music" ng-click='linkMusic($event)'>
                  <span class="yt-thumbnail">
                      <span class="thumbnail"><img ng-src="{{music.thumbnail}}" alt="{{music.title}}" width="72px" aria-hidden="true"/></span>
                  </span>
                  <div class="title"><h3>{{music.title}}</h3></div>
                </a>
            </li>
        </ol>
    </div>
    <p class="bread-detail"  ng-if="bread2!=null">
        <a ng-if="lang == 'ja'" href="/" ng-click='clickClose()'>Top</a>
        <a ng-if="lang == 'en'" href="/en" ng-click='clickClose()'>Top</a>&nbsp;>&nbsp;
        <a ng-if="lang == 'ja'" href="/map/{{category}}/{{sub_category}}" ng-click='clickClose()'>{{bread2}}</a>
        <a ng-if="lang == 'en'"  href="/en/map/{{category}}/{{sub_category}}" ng-click='clickClose()'>{{bread2}}</a>&nbsp;>&nbsp;
        {{h1Text}}
    </p>
    <div class="info">
        <h1 class="info-artist">{{h1Text}}</h1>
        <div class="info-schedule">
            <span class="category" ng-show="days" >&nbsp;{{ 'detail.setTime' | translate }}</span>&nbsp;
            <span class="detail-day">{{timesText}}</span>&nbsp;&nbsp;&nbsp;
            <span class="category" ng-show="stages" >&nbsp;{{ 'detail.stage' | translate }}</span>&nbsp;
            <span  class="detail-stage" ng-repeat="stage in stages track by $index">{{stage}}
                <span ng-show="!$last">/</span>
            </span>&nbsp;&nbsp;&nbsp;
        </div>
        <div class="genre" ng-if="detail.genre" ng-bind-html="genre_span">
            {{ 'detail.musicGenre' | translate }}&nbsp;
        </div>
    </div>
    <div class="exp_click" id="exp" style="display: none"><-{{ 'detail.click' | translate }}</div>
    <div class="relations">
        <h2 class="similar-list">{{h2Text}}</h2><br>
        <canvas id="guide"></canvas>
    </div>
    <div class="album-list" ng-if="artistLink" >
        <h2 class="about-album">{{h2Album}}</h2>
        <div class="album-info-first">
            <div class="album-exp">
                - {{ 'detail.playAlbumExp' | translate }} -
            </div>
            <div ng-show="play_albums" ng-repeat="(key, play_album) in play_albums" class="album-block album{{key}}">
                <h3 class="album-title">
                    <a href="{{play_album.collectionViewUrl}}" target="_blank" rel="noopener noreferrer">
                        {{play_album.albumName}}
                    </a>
                </h3>
                <div class="jacket-list">
                    <div class="album-jacket">
                        <a href="{{play_album.collectionViewUrl}}"  target="_blank" rel="noopener noreferrer">
                        <img src="{{play_album.artworkUrl}}340x340bb.jpg" class="jacket-images">
                        </a>
                        <div class="release-date">{{ 'detail.release' | translate }}: {{play_album.releaseDate| dateFromArea: lang}}</div>
                    </div>
                    <div class="album-music-list">
                        <table class="table" id="music-list-table">
                            <thead>
                            <tr>
                                <th></th>
                                <th></th>
                                <th>{{ 'detail.titleTag' | translate }}</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="(track_key, track) in play_album.track">
                                <th scope="row"><img ng-if="arraySearch(youtube_id, track.video_id) == true" src="images/now-playing.png" class="now-playing"></th>
                                <td align="right">{{track_key+1}}</td>
                                <td ng-if="arraySearch(youtube_id, track.video_id) == true" class="attention-track track-title"><a href="{{track.trackViewUrl}}" target="_blank"  rel="noopener noreferrer">{{track.trackName}}</a></td>
                                <td ng-if="arraySearch(youtube_id, track.video_id) != true">{{track.trackName}}</td>
                                <td><a href="{{track.trackViewUrl}}"  target="_blank" rel="noopener noreferrer">{{ 'detail.downLink' | translate }}</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="artist-search-link" ng-show="play_albums==null">
                <a href="{{artistLink}}"  target="_blank" rel="noopener noreferrer">{{ 'detail.artsitPageLink' | translate }}&nbsp;&rtrif;</a>
            </div>

        </div>
        <div class="album-info">
            <h2 class="album-exp">
                - {{ popularAlbum }} -
            </h2>
            <div class="album-exp-sub">{{ 'detail.popularAlbumExp' | translate }}</div>
            <div class="album-block"  ng-show="popular_albums" ng-repeat="(key, play_album) in popular_albums">
                <h3 class="album-title">
                    <a href="{{play_album.collectionViewUrl}}" target="_blank" rel="noopener noreferrer">
                        {{play_album.albumName}}
                    </a>
                </h3>
                <div class="jacket-list">
                    <div class="album-jacket">
                        <a href="{{play_album.collectionViewUrl}}" target="_blank" rel="noopener noreferrer">
                            <img src="{{play_album.artworkUrl}}340x340bb.jpg" class="jacket-images">
                        </a>
                        <div class="release-date">{{ 'detail.release' | translate }}: {{play_album.releaseDate| dateFromArea: lang}}</div>
                    </div>
                    <div class="album-music-list">
                        <table class="table" id="music-list-table">
                            <thead>
                            <tr>
                                <th></th>
                                <th></th>
                                <th>{{ 'detail.titleTag' | translate }}</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="(track_key, track) in play_album.track">
                                <th scope="row"><img ng-if="arraySearch(youtube_id, track.video_id) == true" src="images/now-playing.png" class="now-playing"></th>
                                <td align="right">{{track_key+1}}</td>
                                <td ng-show="track.video_id" class="attention-track track-title"><a href="{{track.trackViewUrl}}" target="_blank" rel="noopener noreferrer">{{track.trackName}}</a></td>
                                <td ng-hide="track.video_id">{{track.trackName}}</td>
                                <td><a href="{{track.trackViewUrl}}"  target="_blank">{{ 'detail.downLink' | translate }}</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="album-info-last">
            <div class="album-exp">
            </div>
            <div class="artist-search-link">
                <a href="{{artistLink}}" target="_blank" rel="noopener noreferrer">{{ otherAlbumLink }}&nbsp;&rtrif;</a>
            </div>
        </div>
    </div>
</div>    