<button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click='clickClose()'>×</button>
<div class="detail-area">
    <div class="container"></div>
    <div id="transfer-guide">
        <h1 class="guide-exp">{{h1Text}}</h1>
        <span ng-repeat="guide in guides">
            <ul class="line-guide">
                <li ng-repeat="elem in guide.elments track by $index" class="line-list" >
                    <div ng-if="elem.type == 'station'" id="circle" style="border: solid 3px {{guide.color}}"><a href="">マキタスポーツpresents Fly or Die</a></div>
                    <div ng-if="elem.type == 'line'" class="line-genre">
                        <span  ng-if="$last == false" class="about-genre" ng-repeat="genre in elem.genre track by $index">&nbsp;{{genre}},</span>
                        <span  ng-if="$last == true" class="about-genre" ng-repeat="genre in elem.genre track by $index">&nbsp;{{genre}}&nbsp;</span>
                        <hr class="genre-line" color="{{guide.color}}">
                    </div>
                </li>
            </ul>
            <!--<div ng-repeat="(elment_key, elments) in guide.elements">-->
                <!--<div ng-repeat="(elment_key, elment) in elment">-->
                <!--</div>-->
                <!--&lt;!&ndash;<div ng-if="elment.type == 'station'"  id="circle" style="border: solid 3px #e60012"><a href="">マキタスポーツpresents Fly or Die</a></div>&ndash;&gt;-->
            <!--</div>-->
        </span>

        <div class="line-guide">
        <div id="circle" style="border: solid 3px #e60012"><a href="">never young beach</a></div>
        <div class="line-genre">
        <span class="about-genre" style="border-bottom: solid 10px #e60012">&nbsp;alternative rock, blues</span>
        </div>

        <div id="circle" style="border: solid 3px #e60012"><a href="">マキタスポーツpresents Fly or Die</a></div>
        <div class="line-genre">
        <span class="about-genre" style="border-bottom: solid 10px #e60012">&nbsp;alternative rock, blues</span>
        </div>
        <div id="circle" style="border: solid 3px #e60012"><a href="">マキタスポーツpresents Fly or Die</a></div>
        </div>
        <div class="line-guide">
        <div id="circle" style="border: solid 3px #f39700"><a href="">never young beach</a></div>
        <div id="circle" style="border: solid 3px #f39700"><a href="">マキタスポーツpresents Fly or Die</a></div>
        </div>
    </div>
</div>